/* ==========================================================================
  Project: Red Donor Community Site
  Author: Samora Reid
  Author URL: www.samorareid.com
  Version: 0.1
  URL: www.reddonor.com
========================================================================== */

/* ----------------------------------------------------------------- 
	Variables
------------------------------------------------------------------- */

/* ----------------------------------------------------------------- 
	Mixins
------------------------------------------------------------------- */

.normalizedfont {
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.menusbackground {
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
}

.smoothing {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.footertextshadow {
  text-shadow: 0 2px 0 #000;
}

.hovereffect {
  border-bottom: 2px solid #d94d48;
  padding-bottom: 4px;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease;
}

.inlinetext {
  padding: 20px 0 14px 0;
  text-align: center;
}

.errortext {
  font-family: Lato, sans-serif;
  font-size: 1em;
  letter-spacing: .02em;
}

.h4text {
  font-size: 20px;
  text-align: center;
  color: #525252;
  font-weight: 700;
}

/* ----------------------------------------------------------------- 
	Body Structure
------------------------------------------------------------------- */

body {
  color: #525252;
  height: 100%;
  background: #ffffff url('../assets/images/lil_fiber.png');
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  /*height: 100%;*/
  /* Negative indent footer by its height */
  margin: 0 auto -140px;
  /* Pad bottom by footer height */
  padding: 0 0 140px;
}

.main {
  /*margin-top: 72px;*/
  margin-top: -40px;
  padding-bottom: 40px;
  /*min-height: 800px;*/
}

/* Set the fixed height of the footer here */

#footer {
  height: auto;
  border-top: 2px solid #000;
  padding-bottom: 20px;
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
}

/* ----------------------------------------------------------------- 
	Icon Fonts
------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url('../assets/fonts/entypo-webfont.eot');
  src: url('../assets/fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/entypo-webfont.woff') format('woff'), url('../assets/fonts/entypo-webfont.ttf') format('truetype'), url('../assets/fonts/entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'Sosa';
  src: url('../assets/fonts/sosa.eot');
  src: url('../assets/fonts/sosa.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/sosa.woff') format('woff'), url('../assets/fonts/sosa.ttf') format('truetype'), url('../assets/fonts/sosa.svg#Sosa') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'Socialico';
  src: url('../assets/fonts/socialico-webfont.eot');
  src: url('../assets/fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/socialico-webfont.woff') format('woff'), url('../assets/fonts/socialico-webfont.ttf') format('truetype'), url('../assets/fonts/socialico-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

/* ----------------------------------------------------------------- 
	Links
------------------------------------------------------------------- */

a,
a:hover {
  color: #222222;
  -webkit-transition: All 0.4s ease;
  transition: All 0.4s ease;
  text-decoration: none;
}

a {
  color: #d94d48;
}

a:active,
a:focus {
  outline: none;
}

/* ----------------------------------------------------------------- 
	Header
------------------------------------------------------------------- */

.navbar-default {
  height: 72px;
  border-top: solid 4px #d94d48;
  border-bottom: none;
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.navbar-default .navbar-nav li > a {
  color: #cecece;
}

.navbar-default .navbar-nav .open > a,
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open > a:focus {
  color: #cecece;
  background: none;
}

.navbar-default .navbar-nav li > a {
  color: #cecece;
}

.navbar-default .navbar-nav li > a.mbtn {
  margin-top: 8px;
}

.navbar-default .navbar-nav li > a > strong {
  display: block;
  line-height: 18px;
  font-weight: 400;
}

.navbar-default .navbar-nav li > a span {
  text-transform: lowercase;
  color: #d94d48;
}

.navbar-default .navbar-nav li > a:hover {
  color: #ffffff;
}

.navbar-collapse {
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
  border: none;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

/* ------	Dropdown Menu  ----------------------------- */

.dropdown-menu {
  background: #222222;
  color: #ffffff;
  border-top: 2px solid #d94d48;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  margin: 4px 0 0;
  border-radius: 0;
  box-shadow: none;
  background-clip: padding-box;
  min-width: 200px;
}

.dropdown-menu li > a:hover {
  background: none;
}

.dropdown a > strong {
  color: #cecece;
}

/* ----------------------------------------------------------------- 
	Hero Header
------------------------------------------------------------------- */

.heroformat {
  text-align: center;
  float: right;
  margin-top: 2em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  .subheader {
    color: #404040;
    background: #f5f2eb url('../assets/images/header-hero_max1280.jpg') no-repeat;
    width: auto;
    height: 350px;
    margin: 40px 0 0 0;
  }

  .subheader .hero-section {
    text-align: center;
    float: right;
    margin-top: 2em;
  }

  .subheader .hero-section h1 {
    color: #333;
    text-shadow: 1px 1px #eee;
  }

  .subheader .hero-section p {
    font-size: 1.2em;
    text-shadow: 1px 1px #eee;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .subheader {
    color: #404040;
    background: #f5f2eb url('../assets/images/header-hero_max1000.jpg') no-repeat;
    width: auto;
    height: 350px;
    margin: 40px 0 0 0;
  }

  .subheader .hero-section {
    text-align: center;
    float: right;
    margin-top: 2em;
  }

  .subheader .hero-section h1 {
    color: #fff;
    text-shadow: 1px 1px #333;
  }

  .subheader .hero-section p {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 1px 1px #333;
  }
}

@media only screen and (max-width: 768px) {
  .subheader {
    color: #404040;
    background: #f5f2eb url('../assets/images/header-hero_max786.jpg') no-repeat;
    width: auto;
    height: 300px;
    margin: 40px 0 0 0;
  }

  .subheader .hero-section {
    text-align: center;
    float: right;
    margin-top: 2em;
  }

  .subheader .hero-section h1 {
    color: #fff;
    text-shadow: 1px 1px #333;
  }

  .subheader .hero-section p {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 1px 1px #333;
  }
}

/* ----------------------------------------------------------------- 
	Sub Header
------------------------------------------------------------------- */

.sub-header {
  padding: 3em;
  margin: 40px 0 0 0;
  background-image: url(../assets/images/shattered.jpg);
}

.sub-header .sub-text {
  text-align: center;
}

.sub-header .sub-text h2 {
  font-size: 1.5em;
  padding: 0 0 1em;
  line-height: 1.4em;
  color: #ffffff;
}

.sub-header .sub-text h1 {
  font-family: 'Arvo', sans-serif;
  font-size: 2.4em;
  padding: 0;
  color: #ffffff;
  text-shadow: 2px 2px #525252;
  letter-spacing: 0.04em;
}

.sub-header .sub-text h4 {
  color: #ffffff;
  line-height: 28px;
  padding: 1em 0;
}

/* ----------------------------------------------------------------- 
	Content
------------------------------------------------------------------- */

.content-header {
  /*margin-top: 92px;*/
  margin-top: 60px;
}

.choice-header {
  margin-top: 42px;
}

.content h3 {
  margin-top: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 28px;
}

.page-content h2.title {
  color: #d94d48;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.page-content h3 {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: 600;
}

.page-content h4 {
  color: #d94d48;
  padding: 4px 0;
  font-size: 1.2em;
  font-family: 'Arvo', sans-serif;
  font-weight: 600;
}

.page-content h4.text {
  color: #d94d48;
  padding: 4px 0;
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: 'Arvo', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.page-content h5 {
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
}

.page-content .blurb {
  padding: 8px 0 12px 10px;
}

.page-content .blurb h4 {
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
}

/* ----------------------------------------------------------------- 
	Breadcrumb Navigation
------------------------------------------------------------------- */

.breadcrumb-nav {
  vertical-align: bottom;
  padding: 10px 0 12px;
}

.breadcrumb-nav h4 {
  vertical-align: baseline;
  margin: 6px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
}

.breadcrumb-nav h4 a {
  font-weight: 700;
  line-height: 18px;
  text-rendering: optimizelegibility;
}

.breadcrumb-nav h4.more {
  text-align: right;
}

/* ----------------------------------------------------------------- 
	Drives
------------------------------------------------------------------- */

.drive-row {
  margin-left: -32px;
}

.drive-wrapper {
  width: 220px;
  float: left;
  margin: 10px 10px 0px 10px;
  display: inline;
}

.drive-wrapper p {
  text-align: right;
}

.drive-detail-wrapper {
  width: 100%;
  float: left;
  margin: 10px 0px 10px 0px;
  display: inline;
}

.drive-detail-wrapper p {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .drive-detail-wrapper {
    width: 100%;
    float: none;
    margin: 10px 0px 10px 0px;
    display: inline;
  }
}

.drive-content-wrapper {
  background: #ececec;
}

.drive {
  background: #ececec;
  height: 150px;
  /* 95% 155px;*/
  padding: 10px 15px 0px 15px;
  border-top: 4px solid #d94d48;
  border-bottom: none;
}

.drive h3 {
  color: #d94d48;
  font-weight: bolder;
  font-size: 15px;
  max-height: 50px;
  display: block;
  overflow: hidden;
}

.drive h3:hover {
  color: #222;
}

.drive-detail {
  padding: 10px 15px 0px 15px;
  border-top: 4px solid #d94d48;
  border-bottom: none;
  overflow: hidden;
}

.description p {
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  /*height: 90px;*/
  padding: 4px 0;
  text-overflow: ellipsis;
  /*overflow: hidden;*/
}

.description-detail {
  height: 100%;
}

.drive hr,
.info hr,
.info-detail hr {
  margin: 10px 0 10px;
}

.drive.info,
.info {
  /*width: 188px;*/
  padding: 8px 16px;
  border-top: none;
  background: #ECECEC;
  border-bottom: 2px solid #F2F2F2;
}

.info-detail {
  padding: 8px 16px;
  border-top: none;
}

.info .detail,
.info-detail .detail,
.detail {
  padding: 2px 0;
}

.detail-figure strong {
  font-size: 2em;
}

.detail-figure h3 {
  color: #525252;
  font-weight: normal;
  line-height: 30px;
}

.drive-bloodtype {
  background: #525252;
  border: 3px solid #525252;
  border-top: 2px solid #444;
}

.drive-bloodtype h4 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.drive-bloodtype-detail {
  background: #525252;
  padding: 30px 0;
  border: 3px solid #525252;
  border-top: 2px solid #444;
}

.drive-bloodtype-detail h4 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.drive .label {
  margin-Left: 5px;
  padding: 1px 4px 2px;
  background: none;
  color: #444;
}

.below {
  margin: 0px 0;
  border-top: 1px solid #B8B8B8;
  border-bottom: 1px solid white;
}

.started {
  margin: 6px 0;
  font-size: 1em;
  text-align: right;
}

.org-started {
  /*background: @red;*/
  background: #222;
  color: #fff;
  padding: 8px;
  /*border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;*/
  border-top: 1px solid #333;
}

p.org-started {
  text-align: left;
}

p.org-started a:hover {
  color: #fff;
}

.org-detail-info {
  background: #ececec;
  border-bottom: 1px solid #DDD;
}

.org-detail-info p {
  padding: 8px 12px 10px;
  text-align: left;
  font-size: 1.1em;
}

.drive-pagination > .active > a,
.drive-pagination > .active > a:hover,
.drive-pagination .btn.active {
  background-color: #d94d48;
  border-color: #d94d48;
  color: #ffffff;
}

.drive-pagination ul {
  list-style: none;
  text-align: center;
  display: inline-block;
}

.drive-pagination ul li {
  list-style-type: none;
  display: block;
  float: left;
}

.drive-pagination ul li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ececec;
  border: 1px solid #ddd;
}

.pages {
  text-align: center;
}

.drive-share {
  float: left;
  margin: 10px 10px 30px 10px;
}

.drive-share ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drive-share ul li {
  margin-bottom: 6px;
  display: inline-block;
  margin-left: 6px;
}

.social-share {
  margin-top: 20px;
}

.social-share ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-share ul li {
  margin-bottom: 6px;
  display: inline-block;
  margin-left: 6px;
}

@media only screen and (max-width: 992px) {
  .drive-share {
    margin: 10px 10px 30px 10px;
    float: none;
  }
}

.well.compatlist {
  padding: 12px;
}

.well.compatlist ul {
  list-style: none;
  padding-right: 0;
}

.well.compatlist ul li {
  padding-right: 10px;
  display: inline-block;
  cursor: default;
}

.well.compatlist ul li:first-child {
  margin: -24px;
  padding-right: 34px;
}

.well.compatlist h4 {
  font-size: 20px;
  text-align: center;
  color: #525252;
  font-weight: 700;
}

.blood ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

.blood li {
  width: 100%;
}

.blood li h5 {
  padding: 10px 4px;
  margin: 8px 0;
  background: #d94d48;
  text-align: center;
  display: block;
  cursor: default;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.1em;
  border-radius: 4px;
}

.blood h4 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.donate button:hover,
.pledge-btn:hover {
  color: #fff;
  border: 2px solid #eee;
  background: #d94d48;
}

.donate button h3,
.pledge-btn h3 {
  margin: 0px;
}

.empty-wrap {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}

.empty-wrap h4 {
  text-transform: uppercase;
  padding: 8px 0;
  font-weight: 700;
}

.empty-wrap h5 {
  font-size: 1.1em;
}

.location ul {
  list-style: none;
}

.location ul li h4 {
  margin: 0px;
}

.location li {
  padding: 2px 0;
}

.location h4 {
  font-size: 14px;
  font-weight: 700;
}

.location .well {
  padding: 12px;
  margin-bottom: 12px;
}

/* ----------------------------------------------------------------- 
	Blood Type Menu
------------------------------------------------------------------- */

.side-menu {
  text-align: left;
}

.side-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.side-menu li {
  padding: 0.3em 0;
}

.side-menu li a {
  display: inline-block;
  position: relative;
  color: #fff;
  background: #222;
  border-radius: 3px;
  padding: 0.6em 0.5em;
  width: 100%;
  letter-spacing: 0.04em;
  font-size: 1.1em;
  line-height: 1;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-backface-visibility: hidden;
}

.side-menu li a:hover {
  background: #B8001C;
  /*@red; */
  color: #fff;
  letter-spacing: 0.04em;
}

.side-menu h4 {
  text-align: center;
  padding: 12px 0 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

/* ----------------------------------------------------------------- 
	Forms
------------------------------------------------------------------- */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 6px 4px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  color: #555;
}

select,
input[type="file"] {
  height: 34px;
  line-height: 34px;
}

select.form-control {
  padding: 6px 6px;
}

textarea.form-control {
  padding: 6px 6px;
}

.summarywarning {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #d94d48;
  margin-bottom: 20px;
  float: right;
  position: relative;
}

.error {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #d94d48;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 1em;
  letter-spacing: .02em;
}

.error-h {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #d94d48;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 1em;
  letter-spacing: .02em;
}

.label-error {
  font-size: 14px;
  color: #d94d48;
}

.success {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #299DE9;
  margin-bottom: 20px;
}

.form-error {
  text-transform: uppercase;
  font-size: 1.0em;
  color: #ffffff;
  margin: 10px 0;
  font-family: Lato, sans-serif;
  font-size: 1em;
  letter-spacing: .02em;
}

.alert {
  padding: 6px;
}

.alert-danger {
  background-color: #d94d48;
}

.alert-success {
  background-color: #468847;
}

label {
  margin-bottom: 6px;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  color: #333;
}

option:first-of-type {
  color: #999999;
}

.forgot-wrap {
  background: #ececec;
  padding: 20px;
  border-radius: 5px;
}

.forgot-wrap h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.form-horizontal .label-appointment {
  float: left;
  /*width: 140px;*/
  padding-top: 8px;
  text-align: right;
}

.form-horizontal .label-controls {
  margin-left: 60px;
}

.modal {
  width: 790px;
  margin: -250px 0 0 -380px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

/* ----------------------------------------------------------------- 
	How It Works 
------------------------------------------------------------------- */

.works {
  background: #ececec;
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.works h3 {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 54px;
  font-size: 1.4em;
  color: #d94d48;
}

.works h3.title {
  color: #d94d48;
  text-transform: uppercase;
  background: #222222;
  margin: 0;
}

.st-action:hover,
.st-highlight:hover {
  background: #f2f2f2;
}

.st-highlight {
  text-align: center;
}

.st-highlight h3 {
  font-size: 1.4em;
  line-height: 54px;
  text-transform: none;
  color: #525252;
  font-weight: 700;
}

.st-text {
  border-bottom: 1px solid #d6d6d6;
  padding: 0px 10px 30px;
}

.st-text p {
  font-size: 1.2em;
  text-align: center;
}

/* ----------------------------------------------------------------- 
	Profile
------------------------------------------------------------------- */

.profile-menu ul {
  list-style: none;
  margin-top: 20px;
}

.profile-menu li {
  width: 100%;
}

.profile-menu li a {
  padding: 6px 8px 6px 4px;
  margin: 8px 0;
  background: #d94d48;
  text-align: right;
  display: block;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.profile-menu li a:hover {
  background: #333;
}

.savebutton {
  margin: 0 auto;
  display: block;
  padding: 6px 0;
}

.profiles {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
}

.profiles h2 {
  margin-bottom: 6px;
}

.profiles h4 {
  margin-top: 10px;
}

/* ----------------------------------------------------------------- 
	Organisation / Blood Bank Pages
------------------------------------------------------------------- */

.org-profile,
.bankprofile {
  background: #ececec;
  margin-top: 42px;
}

.bankprofile h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.org-title h2,
.bankprofile-title h2 {
  font-size: 2.0em;
  text-transform: uppercase;
  text-align: center;
  background: #222;
  color: #d94d48;
  height: auto;
  padding: 6px 0;
  font-weight: 700;
  font-family: 'Arvo', sans-serif;
}

.bankbloodlevels h2 {
  text-align: center;
}

.bankprofile-menu,
.orgprofile-menu {
  background: #525252;
  padding: 12px 0;
  height: 20px;
  display: block;
}

.bankprofile-menu ul,
.orgprofile-menu ul {
  list-style: none;
}

.bankprofile-menu li,
.orgprofile-menu li {
  display: block;
  float: left;
}

.bankprofile-menu li > a,
.orgprofile-menu li > a {
  padding: 7px 16px 11px;
  color: #cecece;
  text-transform: uppercase;
  font-size: 1.15em;
  letter-spacing: 1px;
}

.progress .bar {
  height: 27px;
}

.progress {
  height: 27px;
  border-radius: 0px;
}

.org-profile h3,
.bankprofile h3 {
  margin-bottom: 12px;
}

.org-info,
.bankprofile-info,
.org-stats {
  margin: 12px;
}

.org-graphs {
  margin: 12px;
}

.org-graphs h2 {
  text-align: center;
  /*margin-bottom: 16px;*/
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 20px;
}

.appts {
  list-style: none;
  margin-left: 60px;
}

.appts button {
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  background: #222;
  width: 70%;
  text-align: center;
  padding: 6px;
  text-transform: capitalize;
  color: #fff;
}

.label-important,
.badge-important {
  background-color: #d94d48;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 4px;
  font-size: 16px;
  vertical-align: middle;
}

.chk-btn {
  border-radius: 4px;
  background: #333;
  width: 80%;
  display: block;
  text-align: center;
  padding: 6px;
  margin: 10px auto;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #eee;
  background: #d94d48;
}

/* ----------------------------------------------------------------- 
	Donation Centres
------------------------------------------------------------------- */

.centre-content-wrapper {
  background: #ececec;
  margin-bottom: 30px;
}

.centre-detail {
  list-style: none;
}

.centre-detail h4 {
  margin-top: 16px;
  font-weight: 700;
}

.centre-detail h5 {
  font-size: 1em;
  line-height: 24px;
}

.centre-location-detail {
  background: #525252;
  padding: 10px 0;
  border: 3px solid #525252;
  border-top: 2px solid #444;
}

.centre-location-detail h4 {
  font-size: 20px;
  text-align: left;
  color: #fff;
  margin: 0 12px;
}

/* ----------------------------------------------------------------- 
	Footer
------------------------------------------------------------------- */

.footer {
  margin-top: 20px;
  color: #aaaaaa;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.0em;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin: 0;
  padding: 8px 4px;
}

.footer ul li > a {
  color: #cecece;
}

.footer ul li > a:hover {
  color: #ffffff;
}

.footer .footer-info p {
  font-size: 1.1em;
  color: #aaaaaa;
  padding: 20px 0;
  text-shadow: 0 2px 0 #000;
}

.footer-bottom {
  padding: 14px 0 8px 0;
  border-top: 2px solid #000;
  font-family: 'Varela Round', sans-serif;
  background: #000000;
  text-align: center;
}

.footer-bottom span {
  color: #aaaaaa;
}

.footer-bottom span:hover {
  color: #d94d48;
}

.footer-bottom ul {
  list-style-type: none;
}

.footer-bottom ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-bottom ul li a {
  color: #aaaaaa;
}

#likebox-frame {
  border: none !important;
  overflow: hidden !important;
  position: relative;
  z-index: 10;
  left: -1px;
  top: -1px;
}

/* ----------------------------------------------------------------- 
	Buttons
------------------------------------------------------------------- */

.navbar-collapse li > a.menubtn {
  padding: 6px 7px;
  margin: 8px 0 12px 0;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background: #d94d48;
  border-radius: 4px;
  text-transform: capitalize;
  text-shadow: 1px 1px #222222;
}

.navbar-collapse li > a.menubtn:hover {
  color: #ffffff;
  border: 0px solid #ececec;
  background: #d94d48;
}

a.signupbtn {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 14px 0 40px 0;
  background: #333333;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #363636;
  text-shadow: none;
  outline-color: #fff;
}

a.regbtn,
.donate button,
.pledge-btn {
  display: block;
  width: 80%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 14px auto;
  background: #333333;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #363636;
  text-shadow: none;
  outline-color: #fff;
}

a.regbtn:hover,
a.herobtn:hover {
  color: #ffffff;
  border: 2px solid #ececec;
  background: #333333;
}

button.submit {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 10px auto;
  background: #333333;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #363636;
  text-shadow: none;
  outline-color: #fff;
  -webkit-transition: All 0.4s ease;
  transition: All 0.4s ease;
}

button.submit:hover {
  color: #ececec;
  border: 2px solid #ffffff;
  background: #d94d48;
}

button.submit.disabled,
button.submit[disabled] {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 10px auto;
  background: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #ececec;
  text-shadow: none;
  outline-color: #fff;
}

a.herobtn {
  display: block;
  width: 60%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 14px auto;
  background: #d94d48;
  border-radius: 4px;
  text-transform: capitalize;
  border: 2px solid #ececec;
  text-shadow: none;
  outline-color: #fff;
}

/* ----------------------------------------------------------------- 
	Social
------------------------------------------------------------------- */

.fb-shade {
  color: #3b5998;
}

.g-shade {
  color: #dd4b39;
}

.yt-shade {
  color: #bb0000;
}

.tw-shade {
  color: #00aced;
}

/* ----------------------------------------------------------------- 
	Icons
------------------------------------------------------------------- */

.locationicon {
  font-weight: 700;
  margin: 0 6px 0px 10px;
  height: 16px;
  color: #D94D48;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
}

.locationicon a {
  margin-left: 10px;
}

.locationicon a.centre {
  margin-left: 0px;
}

.detailicon {
  font-weight: 700;
  margin: 0 6px 0px 10px;
  height: 16px;
  color: #525252;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
}

/* ----------------------------------------------------------------- 
	Misc
------------------------------------------------------------------- */

.rred {
  color: #d94d48;
}

.clickable {
  color: #d94d48;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 1em;
  letter-spacing: .02em;
}

img.fb-b {
  margin-top: -10px;
  margin-right: 6px;
}

hr {
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.centre {
  text-align: center;
}

.soci {
  margin-left: 2px;
}

.notice {
  margin-top: 72px;
  text-align: center;
}

.alert.alert-info {
  background: #d94d48;
  color: #ffffff;
  border: none;
  border-radius: 0px;
}