/* ==========================================================================
  Project: Red Donor Community Site
  Author: Samora Reid
  Author URL: www.samorareid.com
  Version: 0.1
  URL: www.reddonor.com
========================================================================== */

/* ----------------------------------------------------------------- 
	Variables
------------------------------------------------------------------- */

@body-color: #525252;
@footer-color: #222;
@menufont-color: #cecece;
@footerfont-color: #aaa; 
@red: #D94D48;
@white: #fff;
@menu-color: #141414;
@black: darken(@menu-color, 20%);
@heading-font: 'Open Sans', sans-serif;
@submenu-font: 'Arvo', sans-serif;
@navbar-font: 'Varela Round', sans-serif;
@h2-fontsize: 1.5em;
@h4weight: 700;

/* ----------------------------------------------------------------- 
	Mixins
------------------------------------------------------------------- */

.normalizedfont {
	font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}
.menusbackground {
	background: @footer-color url('../assets/images/outlets.png');
	background-color: #141414;
}
.smoothing {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.footertextshadow {
	text-shadow: 0 2px 0 #000;
}

.hovereffect {
	border-bottom: 2px solid @red;
	padding-bottom: 4px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	-ms-transition: All 0.2s ease;
	transition: All 0.2s ease;
}

.inlinetext {
	padding: 20px 0 14px 0;
	text-align: center;
}
.errortext {
	font-family: Lato,sans-serif;
	font-size: 1em;
	letter-spacing: .02em;
}

.h4text {
	font-size: 20px;
	text-align: center;
	color: @body-color;
	font-weight: @h4weight;
}


/* ----------------------------------------------------------------- 
	Body Structure
------------------------------------------------------------------- */

body { 
	color: @body-color;
	height: 100%;
	background: #fff url('../assets/images/lil_fiber.png');
}

html {
  height: 100%;
  .smoothing;
	.normalizedfont;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  /*height: 100%;*/
  /* Negative indent footer by its height */
  margin: 0 auto -140px;
  /* Pad bottom by footer height */
  padding: 0 0 140px;
}

.main {
	/*margin-top: 72px;*/
	margin-top: -40px;
	padding-bottom: 40px;
	/*min-height: 800px;*/
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
	border-top: 2px solid #000;
	padding-bottom: 20px;
	.menusbackground
}

/* ----------------------------------------------------------------- 
	Icon Fonts
------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: @heading-font;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('../assets/fonts/entypo-webfont.eot');
    src: url('../assets/fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/entypo-webfont.woff') format('woff'),
         url('../assets/fonts/entypo-webfont.ttf') format('truetype'),
         url('../assets/fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    .normalizedfont
 }

 @font-face {
    font-family: 'Sosa';
    src: url('../assets/fonts/sosa.eot');
    src: url('../assets/fonts/sosa.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sosa.woff') format('woff'),
         url('../assets/fonts/sosa.ttf') format('truetype'),
         url('../assets/fonts/sosa.svg#Sosa') format('svg');
    .normalizedfont
}

@font-face {
    font-family: 'Socialico';
    src: url('../assets/fonts/socialico-webfont.eot');
    src: url('../assets/fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/socialico-webfont.woff') format('woff'),
         url('../assets/fonts/socialico-webfont.ttf') format('truetype'),
         url('../assets/fonts/socialico-webfont.svg#EntypoRegular') format('svg');
    .normalizedfont
 }

/* ----------------------------------------------------------------- 
	Links
------------------------------------------------------------------- */

a,
a:hover { 
	color: @footer-color;
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
	-ms-transition: All 0.4s ease;
	transition: All 0.4s ease;
	text-decoration: none;
}
a {
	color: @red;
}
a:active, 
a:focus {
	outline: none;
}

 /* ----------------------------------------------------------------- 
	Header
------------------------------------------------------------------- */

.navbar-default {
	height: 72px;
	border-top: solid 4px @red;
	border-bottom: none;
	.menusbackground;

	.navbar-brand {
		color: @white;
	}
	.navbar-nav {
		font-family: @navbar-font;
		font-size: 1.1em;
		margin: 0;
		.smoothing;
		.normalizedfont;

		li > a {
			color: @menufont-color;
		}

		.open > a, .open > a:hover, .open > a:focus {
			color: @menufont-color;
			background: none;
		}

		li > a {
			color: @menufont-color;

			&.mbtn {
				margin-top: 8px;
			}

			> strong {
				display: block;
				line-height: 18px;
				font-weight: 400;
			}

			span {
				text-transform: lowercase;
				color: @red;
			}

			&:hover {  
				color: @white;  
      } 
		}
	}
}
.navbar-collapse {
	.menusbackground;
	border: none;
}
.navbar-collapse.in {
	overflow-y: hidden;
}

 /* ------	Dropdown Menu  ----------------------------- */

.dropdown-menu {
	background: @footer-color;
	color: @white;
	border-top: 2px solid @red;
	border-left: 1px solid #111;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
	margin: 4px 0 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	min-width: 200px;

	li > a:hover {
		background: none;
	}
}

.dropdown {
	a > strong {
		color: @menufont-color;
	}
}

/* ----------------------------------------------------------------- 
	Hero Header
------------------------------------------------------------------- */

.heroformat {
	text-align: center;
	float: right;
	margin-top: 2em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    border: 2px solid @white;
    border-radius: 4px;

    iframe, object, embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}

@media only screen and (min-width: 992px) {
	.subheader {
		color: #404040;
		background: #f5f2eb url('../assets/images/header-hero_max1280.jpg') no-repeat;
		width: auto; 
		height: 350px;
		margin: 40px 0 0 0;

		.hero-section {
			.heroformat;

			h1 {
				color: #333;
				text-shadow: 1px 1px #eee;
			}
			p {
				font-size: 1.2em;
				text-shadow: 1px 1px #eee;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.subheader {
		color: #404040;
		background: #f5f2eb url('../assets/images/header-hero_max1000.jpg') no-repeat;
		width: auto; 
		height: 350px;
		margin: 40px 0 0 0;

		.hero-section {
			.heroformat;

			h1 {
				color: #fff;
				text-shadow: 1px 1px #333;
			}
			p {
				color: #fff;
				font-size: 1.2em;
				text-shadow: 1px 1px #333;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.subheader {
		color: #404040;
		background: #f5f2eb url('../assets/images/header-hero_max786.jpg') no-repeat;
		width: auto; 
		height: 300px;
		margin: 40px 0 0 0;

		.hero-section {
			.heroformat;

			h1 {
				color: #fff;
				text-shadow: 1px 1px #333;
			}
			p {
				color: #fff;
				font-size: 1.2em;
				text-shadow: 1px 1px #333;
			}
		}
	}
}

/* ----------------------------------------------------------------- 
	Sub Header
------------------------------------------------------------------- */

.sub-header {
	padding: 3em;
	margin: 40px 0 0 0;
	background-image: url(../assets/images/shattered.jpg);

	.sub-text {
		text-align: center;

		h2 {
			font-size: @h2-fontsize;
			padding: 0 0 1em;
			line-height: 1.4em;
			color: @white;
		}
		h1 {
			font-family: 'Arvo', sans-serif;
			font-size: 2.4em;
			padding: 0;
			color: @white;
			text-shadow: 2px 2px @body-color;
			letter-spacing: 0.04em;
		}
		h4 {
			color: @white;
			line-height: 28px;
			padding: 1em 0;
		}
	}
}

/* ----------------------------------------------------------------- 
	Content
------------------------------------------------------------------- */

.content-header {
		/*margin-top: 92px;*/
		margin-top: 60px;		
}
.choice-header {
		margin-top: 42px;
}

.content {

	h3 {
		margin-top: 0;
		font-size: 18px;
		font-family: @heading-font;
		font-weight: 700;
		line-height: 28px;
	}
}

.page-content {
	
	h2.title {
		color: @red;
		padding: 10px 0;
		font-size: 1.5em;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	h3 {
		margin-top: 0;
		font-size: 1.4em;
		font-weight: 600;
	}

	h4 {
		color: @red;
		padding: 4px 0;
		font-size: 1.2em;
		font-family: @submenu-font;
		font-weight: 600;
	}
	h4.text {
		color: @red;
		padding: 4px 0;
		font-size: 1.2em;
		line-height: 1.4em;
		font-family: @submenu-font;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
	}

	h5 {
		font-weight: 700;
		color: @body-color;
		text-transform: capitalize;
	}

	.blurb {
		padding: 8px 0 12px 10px;

		h4 {
			font-weight: 700;
			color: @body-color;
			text-transform: capitalize;
		}
	}
}


/* ----------------------------------------------------------------- 
	Breadcrumb Navigation
------------------------------------------------------------------- */

.breadcrumb-nav {
	vertical-align: bottom;
	padding: 10px 0 12px;

	h4 {
		vertical-align: baseline;
		margin: 6px 0 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.1em;

		a {
				font-weight: @h4weight;
				line-height: 18px;
				text-rendering: optimizelegibility;
		}
	}
	h4.more {
		text-align: right;
	}
}

/* ----------------------------------------------------------------- 
	Drives
------------------------------------------------------------------- */

.drive-row {
	margin-left: -32px;
}

.drive-wrapper {
	width: 220px;
	float: left;
	margin: 10px 10px 0px 10px;
	display: inline;

	p {
		text-align: right;
	}
}
.drive-detail-wrapper {
	width: 100%;
	float: left;
	margin: 10px 0px 10px 0px;
	display: inline;

	p {
		text-align: right;
	}
}

@media only screen and (max-width: 992px) {
	.drive-detail-wrapper {
		width: 100%;
		float: none;
		margin: 10px 0px 10px 0px;
		display: inline;
	}
}

.drive-content-wrapper {
	background: #ececec;
}
.drive {
	background: #ececec;
	height: 150px; /* 95% 155px;*/
	padding: 10px 15px 0px 15px;
	border-top: 4px solid @red;
	border-bottom: none;

	h3 {
		color: @red;
		font-weight: bolder;
		font-size: 15px;
		max-height: 50px;
		display: block;
		overflow: hidden;

		&:hover {
			color: #222;
		}
	}
}
.drive-detail {
	padding: 10px 15px 0px 15px;
	border-top: 4px solid @red;
	border-bottom: none;
	overflow: hidden;
}

.description p {
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	/*height: 90px;*/
	padding: 4px 0;
	text-overflow: ellipsis;
	/*overflow: hidden;*/
}
.description-detail {
	height: 100%;
}

.drive hr, .info hr, .info-detail hr {
	margin: 10px 0 10px;
}

.drive.info, .info {
	/*width: 188px;*/
	padding: 8px 16px;
	border-top: none;
	background: #ECECEC;
	border-bottom: 2px solid #F2F2F2;
}

.info-detail {
	padding: 8px 16px;
	border-top: none;
}

.info .detail, .info-detail .detail, .detail {
	padding: 2px 0;
}
.detail-figure {

	strong {
		font-size: 2em;
	}
	h3 {
		color: #525252;
		font-weight: normal;
		line-height: 30px;
	}
}

.drive-bloodtype {
	background: #525252; 
	border: 3px solid #525252;	
	border-top: 2px solid #444;

	h4 {
		font-size: 20px;
		text-align: center;
		color: #fff;
		font-weight: @h4weight;
	}
}
.drive-bloodtype-detail {
	background: #525252; 
	padding: 30px 0;
	border: 3px solid #525252;	
	border-top: 2px solid #444;

	h4 {
		font-size: 20px;
		text-align: center;
		color: #fff;
		font-weight: @h4weight;
	}	
}

.drive .label {
	margin-Left: 5px;
	padding: 1px 4px 2px;
	background: none;
	color: #444;
}

.below {
	margin: 0px 0;
	border-top: 1px solid #B8B8B8;
	border-bottom: 1px solid white;
}
.started {
	margin: 6px 0;
	font-size: 1em;
	text-align: right;
}
.org-started {
	/*background: @red;*/
	background: #222;
	color: #fff;
	padding: 8px;
	/*border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;*/
	border-top: 1px solid #333;
}
p.org-started  {
	text-align: left;
	
	a {
		&:hover {
			color: #fff;
		}
	}	
}

.org-detail-info {
	background: #ececec;
	border-bottom: 1px solid #DDD;

	p {
		padding: 8px 12px 10px;
		text-align: left;
		font-size: 1.1em;
	}
}

.drive-pagination {
	>.active>a, >.active>a:hover, .btn.active {
		background-color: @red;
		border-color: @red;
		color: @white;
	}

	ul {
		list-style: none;
		text-align: center;
		display: inline-block;

		li {
			list-style-type: none;
			display:block;
			float: left;

			>a {
				position: relative;
				float: left;
				padding: 6px 12px;
				margin-left: -1px;
				line-height: 1.428571429;
				text-decoration: none;
				background-color: #ececec;
				border: 1px solid #ddd;
			}
		}
	}
}

.pages {
	text-align: center;
}

.drive-share {
	float: left;
	margin: 10px 10px 30px 10px;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 6px;
			display: inline-block;
			margin-left: 6px;
		}
	}
}

.social-share {
	margin-top: 20px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 6px;
			display: inline-block;
			margin-left: 6px;
		}
	}
}

@media only screen and (max-width: 992px) {
	.drive-share {
		margin: 10px 10px 30px 10px;
		float: none;
	}
}

.well.compatlist {
	padding: 12px;
	
	ul {
		list-style: none;
		padding-right: 0;


		li {
			padding-right: 10px;
			display: inline-block;
			cursor: default;
			
			&:first-child {
				margin: -24px;
				padding-right: 34px;
			}
		}
	}
	h4 {
		.h4text;
	}
}

.blood {
	ul {
		list-style: none;
		margin: 0;
		padding: 0px;
	}
	li {
		width: 100%;

		h5 {
			padding: 10px 4px;
			margin: 8px 0;
			background: @red;
			text-align: center;
			display: block;
			cursor: default;
			color: #fff;
			font-size: 15px;
			letter-spacing: 0.1em;
			border-radius: 4px;
		}
	}
	h4 {
		text-align: center;
		font-size: 14px;
		font-weight: @h4weight;
	}
}

.donate button, .pledge-btn {

	&:hover {
		color: #fff;
		border: 2px solid #eee;
		background: @red;
	}
	h3 {
		margin: 0px;
	}
}

.empty-wrap {
	margin: 0 auto;
	text-align: center;
	padding: 60px 0;
	h4 {
		text-transform: uppercase;
		padding: 8px 0;
		font-weight: @h4weight;
	}
	h5 {
		font-size: 1.1em;
	}	
}

.location {
	ul {
		list-style: none;

		li h4 {
			margin: 0px;
		}	
	}
	li {
		padding: 2px 0;
	}
	h4 {
		font-size: 14px;
		font-weight: @h4weight;
	}
	.well {
		padding: 12px;
		margin-bottom: 12px;
	}
}


/* ----------------------------------------------------------------- 
	Blood Type Menu
------------------------------------------------------------------- */

.side-menu {
	text-align: left;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px
	}
	li {
		padding: 0.3em 0;

		a {
			display: inline-block;
			position: relative;
			color: #fff;
			background: #222;
			border-radius: 3px;
			padding: 0.6em 0.5em;
			width: 100%;
			letter-spacing: 0.04em;
			font-size: 1.1em;
			line-height: 1;
			text-align: center;
			transition: background-color 0.2s;
			-webkit-backface-visibility: hidden;

			&:hover {
				background: #B8001C; /*@red; */
				color: #fff;
				letter-spacing: 0.04em;
			}
		}
	}
	h4 {
		text-align: center;
		padding: 12px 0 6px;
		text-transform: uppercase;
		font-weight: @h4weight;
		font-size: 14px;
		line-height: 18px;
	}
}

/* ----------------------------------------------------------------- 
	Forms
------------------------------------------------------------------- */

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	display: inline-block;
	padding: 6px 4px;
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 18px;
	color: #555;
}

select, input[type="file"] {
	height: 34px;
	line-height: 34px;
}

select.form-control {
	padding: 6px 6px;
}

textarea.form-control {
	padding: 6px 6px;
}


.summarywarning {
	text-transform: uppercase;
	font-size: 0.9em;
	color: @red;
	margin-bottom: 20px;
	float: right;
	position: relative;
}
.error {
	text-transform: uppercase;
	font-size: 0.9em;
	color: @red;
	margin-bottom: 20px;
	.errortext
}
.error-h {
	text-transform: uppercase;
	font-size: 0.9em;
	color: @red;
	display: block;
	.errortext
}
.label-error {
	font-size: 14px;
	color: @red;
}

.success {
	text-transform: uppercase;
	font-size: 0.9em;
	color: #299DE9;
	margin-bottom: 20px;
}

.form-error {
	text-transform: uppercase;
	font-size: 1.0em;
	color: @white;
	margin: 10px 0;
	.errortext
}
.alert {
	padding: 6px;
}
.alert-danger {
	background-color: @red;	
}
.alert-success {
	background-color: #468847;	
}
label {
	margin-bottom: 6px;
}

label, input, button, select, textarea {
	font-size: 14px;
	color: #333;
}

option:first-of-type {
	color: #999999;
}

.forgot-wrap {
	background: #ececec;
	padding: 20px;
	border-radius: 5px;

	h4 {
		font-weight: @h4weight;
		font-size: 14px;
		line-height: 18px;
	}
}

.form-horizontal .label-appointment {
	float: left;
	/*width: 140px;*/
	padding-top: 8px;
	text-align: right;
}
.form-horizontal .label-controls {
	margin-left: 60px;
}

.modal {
	width: 790px;
	margin: -250px 0 0 -380px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
	box-shadow: 0 3px 7px rgba(0,0,0,.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

 /* ----------------------------------------------------------------- 
	How It Works 
------------------------------------------------------------------- */

.works {
	background: #ececec;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;

	h3 {
		margin-top: 10px;
		text-transform: uppercase;
		text-align: center;
		line-height: 54px;
		font-size: 1.4em;
		color: @red;

		&.title {
				color: @red;
				text-transform: uppercase;
				background: @footer-color;
				margin: 0;
		}
	}
}

.st-action:hover, .st-highlight:hover {
	background: #f2f2f2;
}

.st-highlight {
	text-align: center;

	h3 {
		font-size: 1.4em;
		line-height: 54px;
		text-transform: none;
		color: #525252;
		font-weight: 700;
	}
}

.st-text {
	border-bottom: 1px solid #d6d6d6;
	padding: 0px 10px 30px;
	p {
		font-size: 1.2em;
	text-align: center;
	}
}



/* ----------------------------------------------------------------- 
	Profile
------------------------------------------------------------------- */

.profile-menu ul {
	list-style: none;
	margin-top: 20px;
}
.profile-menu li {
	width: 100%;
}
.profile-menu li a {
	padding: 6px 8px 6px 4px;
	margin: 8px 0;
	background: @red;
	text-align: right;
	display: block;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.1em;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.profile-menu li a:hover {
	background: #333;
}

.savebutton {
	margin: 0 auto;
	display: block;
	padding: 6px 0;
}

.profiles {
	list-style-type: none;
	padding: 20px 0;
	margin: 0;
}

.profiles h2 {
	margin-bottom: 6px;
}
.profiles h4 {
	margin-top: 10px;
}


/* ----------------------------------------------------------------- 
	Organisation / Blood Bank Pages
------------------------------------------------------------------- */

.org-profile, .bankprofile {
	background: #ececec;
	margin-top: 42px;
}

.bankprofile h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

.org-title h2, .bankprofile-title h2 {
	font-size: 2.0em;
	text-transform: uppercase;
	text-align: center;
	background: #222;
	color: @red;
	height: auto;
	padding: 6px 0;
	font-weight: 700;
	font-family: 'Arvo', sans-serif;
}

.bankbloodlevels h2 {
	text-align: center;
}

.bankprofile-menu, .orgprofile-menu {
	background: #525252;
	padding: 12px 0;
	height: 20px;
	display: block;
}

.bankprofile-menu ul, .orgprofile-menu ul {
	list-style: none;
}

.bankprofile-menu li, .orgprofile-menu li {
	display: block;
	float: left;
}
.bankprofile-menu li>a, .orgprofile-menu li>a {
	padding: 7px 16px 11px;
	color: #cecece;
	text-transform: uppercase;
	font-size: 1.15em;
	letter-spacing: 1px;
}

.progress .bar {
	height: 27px;
}
.progress {
	height: 27px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.org-profile h3, .bankprofile h3 {
	margin-bottom: 12px;
}
.org-info, .bankprofile-info, .org-stats {
	margin: 12px;
}

.org-graphs {
	margin: 12px;

	h2 {
		text-align: center;
		/*margin-bottom: 16px;*/
		margin-top: 30px;
		text-transform: uppercase;
		font-size: 20px;
	}
}


.appts {
	list-style: none;
	margin-left: 60px;
}
.appts button {
	border: 2px solid #dfdfdf;
	border-radius: 4px;
	background: #222;
	width: 70%;
	text-align: center;
	padding: 6px;
	text-transform: capitalize;
	color: #fff;
}
.label-important, .badge-important {
	background-color: @red;
}
.badge {
	padding: 4px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 4px;
	font-size: 16px;
	vertical-align: middle;
}
.chk-btn {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #333;
	width: 80%;
	display: block;
	text-align: center;
	padding: 6px;
	margin: 10px auto;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #eee;
	background: @red;
}

/* ----------------------------------------------------------------- 
	Donation Centres
------------------------------------------------------------------- */

.centre-content-wrapper {
	background: #ececec;
	margin-bottom: 30px;
}

.centre-detail {
	list-style: none;
}

.centre-detail {

	h4 {
		margin-top: 16px;
		font-weight: 700;
	}
	h5 {
	font-size: 1em;
	line-height: 24px;
	}
}

.centre-location-detail {
	background: #525252;
	padding: 10px 0;
	border: 3px solid #525252;
	border-top: 2px solid #444;
}

.centre-location-detail h4 {
	font-size: 20px;
	text-align: left;
	color: #fff;
	margin: 0 12px;
}


 /* ----------------------------------------------------------------- 
	Footer
------------------------------------------------------------------- */

.footer {
	margin-top: 20px;
	color: @footerfont-color;
	font-family: @navbar-font;
	font-size: 1.0em;
	.smoothing;
	.normalizedfont;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
				margin: 0;
				padding: 8px 4px;

			> a {
					color: @menufont-color;

					&:hover {  
						color: @white;  
      		} 
			}
		}
	}

	.footer-info p {
		font-size: 1.1em;
		color: @footerfont-color;
		padding: 20px 0;
		.footertextshadow; 
	}
}

.footer-bottom {
	padding: 14px 0 8px 0;
	border-top: 2px solid #000;
	font-family: @navbar-font;
	background: @black;
	text-align: center;

	span {
		color: @footerfont-color;

		&:hover {  
				color: @red;  
    }
	}
	
	ul {
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 20px;

			a {
				color: @footerfont-color;
			}
		}
	}
}

#likebox-frame {
	border: none !important;
	overflow: hidden !important;
	position: relative;
	left: -1px;
	z-index: 10;
	left: -1px;
	top: -1px;
}

 /* ----------------------------------------------------------------- 
	Buttons
------------------------------------------------------------------- */

.menubutton (@padding, @margin, @fontcolor, @bgcolor, @corner, @textstyle, @shadow) {
	padding: @padding;
	margin: @margin;
	color: @fontcolor;
	text-decoration: none;
	text-align: center;
	background: @bgcolor;
	border-radius: @corner;
	text-transform: @textstyle;
	text-shadow: @shadow;
}


.regbutton (@bgdcolor, @btnwidth, @fontcolor, @font-size, @corner, @padding, @margin, @textstyle, @bordersize, @bordercolor) {
	display: block;
	width: @btnwidth;
	color: @fontcolor;
  font-size: @font-size;
	text-decoration: none;
	text-align: center;
  padding: @padding;
  margin: @margin;
	background: @bgdcolor;
	border-radius: @corner;
	text-transform: @textstyle;
	border: @bordersize solid @bordercolor;
	text-shadow: none;
	outline-color: #fff;
}

.regbuttonHover(@bgdcolor, @bordersize, @bordercolor, @fontcolor) {
	color: @fontcolor;
	border: @bordersize solid @bordercolor;
	background: @bgdcolor;
}

.navbar-collapse li> a.menubtn {
	.menubutton(6px 7px, 8px 0 12px 0, #fff, @red, 4px, capitalize, 1px 1px #222);
}
.navbar-collapse li> a.menubtn:hover {
	.regbuttonHover(#d94d48, 0px, #ececec, #fff);
}
a.signupbtn {
	.regbutton(#333, 100%, #fff, 18px, 4px, 6px, 14px 0 40px 0, uppercase, 2px, #363636);
}
a.regbtn, .donate button, .pledge-btn {
	.regbutton(#333, 80%, #fff, 18px, 4px, 6px, 14px auto, uppercase, 2px, #363636);
}
a.regbtn:hover, a.herobtn:hover {
	.regbuttonHover(#333, 2px, #ececec, #fff);
}
button.submit {
	.regbutton(#333, 100%, #fff, 18px, 4px, 6px, 10px auto, uppercase, 2px, #363636);
	transition: All 0.4s ease;
}
button.submit:hover {
	.regbuttonHover(@red, 2px, #fff, #ececec);
}
button.submit.disabled, button.submit[disabled] {
	.regbutton(#666, 100%, #fff, 18px, 4px, 6px, 10px auto, uppercase, 2px, #ececec);
}
a.herobtn {
	.regbutton(@red, 60%, #fff, 18px, 4px, 6px, 14px auto, capitalize, 2px, #ececec);
}

 /* ----------------------------------------------------------------- 
	Social
------------------------------------------------------------------- */
.fb-shade { color: #3b5998; }
.g-shade { color: #dd4b39; }
.yt-shade { color: #bb0000; }
.tw-shade { color: #00aced; }

/* ----------------------------------------------------------------- 
	Icons
------------------------------------------------------------------- */

.locationicon {
	font-weight: 700;
	margin: 0 6px 0px 10px;
	height: 16px;
	color: #D94D48;
	text-decoration:none;
	display:inline-block;
	zoom:1;

	a {
		margin-left: 10px;
	}
	a.centre {
		margin-left: 0px;
	}
}
.detailicon {
	font-weight: 700;
	margin: 0 6px 0px 10px;
	height: 16px;
	color: #525252;
	text-decoration:none;
	display:inline-block;
	zoom:1;
}


 /* ----------------------------------------------------------------- 
	Misc
------------------------------------------------------------------- */

.rred {
	color: @red;
}
.clickable { 
	color: @red; 
	cursor: pointer;
	.errortext
}
img.fb-b { 
	margin-top: -10px; 
	margin-right: 6px 
}
hr { 
	margin: 10px 0; 
	border-top: 1px solid #eee; 
	border-bottom: 1px solid #fff; 
}
.centre {
	text-align: center;
}
.soci {
	margin-left: 2px;
}
.notice {
	margin-top: 72px;
	text-align: center;
}
.alert.alert-info {
	background: @red;
	color: @white;
	border: none;
	border-radius: 0px;
}