//.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .row
            .span3
              a.brand(href="/"): img(src="/images/red-donor-logo.png")
            .span9
              //- if (locals.user_name)
                rednav
              //- else
                onenav
            onenav
// About Red Donor
.content-header
  .container
    .row
      .st-pages
        .span12
          h2 About Us
          p.lead  Red Donor is an organisation encouraging more people to donate blood help those who need in our community. Through education, innovation and creativity we want to ensure a safe and stable supply of blood for our community.

          h4.title-bg Our Story
          .row
            .span6
              p
                | Samora Reid has always been passionate about two things - technology and how information helps us understand how things work. These two passions have joined with his experiences with blood donation to create a movement for a better world.
              p
                | In 2006, he went to donate blood for the first time for his late grandfather. Like most people, after the task was done he returned to his regular routine without giving it a second thought. Within the following years, Samora would be exposed to the frightening experience of the importance of blood in saving the life of the father of a friend.
              p
                | Months later, he realised many families must go through that same experience, wondering if there is enough blood to save the life of their loved ones. In September of 2012, Samora started building a web application to connect blood donors to those who needed the vital commodity. Inspired by the culture of the Caribbean that idea grew into the founding of Red Donor. An organisation aimed at utilising the close-knit community spirit of the Caribbean infused with innovative technological and creative solutions to encourage more people to donate blood.
              p
                | Red Donor's approach to achieving this goal is by observing the behaviours and trends within the community and analysing that data to create more altrustic donor communities within the region.
            .span6
              img(src='http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/gallery/reddonor-plaque.jpg', alt='image')
          h4.title-bg Our Team
          .row(style='text-align: center;')
            .span6.team-title 
              img(src='http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/samorareid.png', alt='image')
              h4 Samora Reid
              h5 Founder / CEO
              p
                | Samora is a freelance web developer. His experiences include building websites for several industries. Red Donor is his first foray into the world of social entrepreneurship and changing the world through technology.
              p
                | In his spare time he can be found listening to music or playing videogames with a cup of coffee nearby.
            .span6.team-title 
              img(src='http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/joshuaclarke.png', alt='image')
              h4 Joshua Clarke
              h5 Creative Director
              p
                | Joshua Clarke was always found with a pencil in hand doodling on some artwork. In his final year of a Graphic Design Bsc and a regular exhibitor at AnimeKon. Joshua uses non-traditional artistic inspiration to fuel his advertising design strategies.
          h4.title-bg Our Partners
          .row
            .span6
              img(src='http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/gallery/partners.jpg', alt='image')
            .span6
              p.lead
                | Red Donor wants to partner with like-minded organisations who depend on blood donations or want to encourage more blood donations.
              p
                | Interested in working with us? Do you have a suggestion on how you would like to help? Please email
                a(href='mailto:sreid@reddonor.com?Subject=Partnership%20Request')  sreid[at]reddonor.com
                | .
