//.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .row
            .span3
              a.brand(href="/"): img(src="/images/red-donor-logo.png")
            .span9
              //- if (locals.user_name)
                rednav
              //- else
                onenav
            onenav
.content-header
	.container
		.row
			.span12
				h2 About Red Donor
.info-page
	.container
		.row
			.span8.story
				h4 Red Donor Team
				hr
				.row
					.member
						.span2.centre
							img(src="/images/profile-pic.png", style="text-align:center")
							ul 
								li: a(href="http://www.linkedin.com/pub/samora-reid/10/b7a/669/", target="_blank"): img(src="/images/linkedin_picon.png")  
								li: a(href="https://twitter.com/samosuki", target="_blank"): img(src="/images/twitter_picon.png")  
								li: a(href="http://samorareid.com/", target="_blank"): img(src="/images/rss_picon.png")  
						.span6
							h5 Samora Reid
							h6 Founder
							p Samora Reid is the Founder of Red Donor. He attended the University of the West Indies, Cave Hill completing in degree in Computer Science with Management.
							p He mainly occupies his days as a freelance web developer. Samora was the IT Director / Web Systems Consultant for the first two years of Settlers: The West Coast Experience for which he developed his first mini application, Revelrii. Inspired by that experience he has planned a couple of community beneficial applications of which Red Donor is the first.
							p In his spare time Samora can be found listening to music or playing videogames with a cup of coffee nearby.
			.span4.story
				h4 About Us - Backstory
				hr
				p Red Donor is a crowd sourcing platform for blood donations. It connects blood donors with those who need blood in their communities. Red Donor was conceptualised in an effort to create an application which would give back to the community. People from around the Caribbean can pledge to donate blood to people who need it within their local communities. 
				p Blood donations are required for many uses inclusive of cancer treatments, heart and blood diseases, major surgeries and automobile accidents. 
				p Founded in January 2013, Red Donor plans to launch its service throughout the Eastern Caribbean encouraging hundreds of new blood donors to replenish the increasing demand for blood.
