div#adddriveForm	
	h3 Create Blood Drive
	h4 Only Count characters and words
	textarea(id="testTextarea1", rows="10").span4
	h4 Count and limit characters, format the defined format display information
	textarea(id="testTextarea2", rows="10").span4
	h4 Count and limit characters and use the callback function
	div(id="showData")
	textarea(id="testTextarea3", rows="10").span4
	p.form-error {{error}}
		form.adddriveForm(name="adddriveForm", novalidate)
			.controls
				label(for="recipientName") Blood Recipient Name
				input(type="text", placeholder="enter recipient name", name="recipientName", id="recipientName", ng-model="recipient.recipientName", required).span4
				span.right.error(ng-show="adddriveForm.recipientName.$error.required") Name Required
			br
			.controls
				label(for="driveSummary") Drive Summary
				//textarea(rows="4", id="driveSummary_Create", name="driveSummary", ng-model="recipient.driveSummary", ng-maxlength="50", placeholder="enter drive summary", required).span4
				//span.right.error(ng-show="adddriveForm.driveSummary.$error.required") Summary Required
				//span.right.error(ng-show="adddriveForm.driveSummary.$error.maxlength") Max Length
				//span.charcounter
				//textarea(rows="4", id="testTextarea2").span4
			br
			.controls				
				label(for="bloodTypes") Blood Type Needed
				select.span4(name="bloodTypes", ng-model="recipient.bloodTypes", required)
					option(value="") -- chose recipient bloodtype --
					option(ng-repeat="bloodTypes in bloodTypes", value="{{bloodTypes.id}}") {{bloodTypes.name}}
			//label(for="donationNeeded") Pints Needed
			//select.span4(required, id="donationNeeded", name="donationNeeded", ng-model="recipient.donationNeeded")
				option(value="") -- chose pints required --
				option(ng-repeat="donations in donations", value="{{donations.id}}") {{donations.nos}}
			br
			.controls	
				label(for="driveCountry") Country
				select.span4(required, name="driveCountry", ng-model="recipient.driveCountry")
					option(value="") -- chose recipient country --
					option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
			br
			.controls	
				label(for="deadlineDate") Deadline Date
				input(type="text", ng-model="recipient.deadlineDate", placeholder="enter deadline date", name="deadlineDate", id="deadlineDate", required, datepicker)
				span.right.error(ng-show="adddriveForm.deadlineDate.$error.required") Date Required
			br
			.controls
				button(ng-click="onSubmitAddDrive()", ng-disabled="adddriveForm.$invalid").butn.submit Create Drive