.content-header.content.container
	.row
		.col-md-12
			.bankprofile
				div(ng-repeat="bankprofile in bankprofile")
					.bankprofile-title
						h2 {{bankprofile.location_name}}
						//img(src="http://placehold.it/1200x150").img-polaroid
				//.row		
					.col-md-12
						.bankprofile-menu
							ul
								li: a(href="#") Donate
								li: a(href="#") Map
								li: a(href="#") About
								li: a(href="#") Stats
				//.row
					.col-md-12
						.bankbloodlevels
							h2 Blood Levels
							hr
							br
				//.row
					.col-md-9.col-offset-1(ng-repeat="banklevels in banklevels")
						.row
							.bloodlevel
								.col-md-2
									h3.pull-right O + 
								.col-md-6
									.progress
										.progress-bar(class="progress-bar-{{opos}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.oposlevel}}%")
								.col-md-2
									h3 {{opostext}}
								.col-md-3
									button.btn.btn-danger
										h4 Donate O +
						.row
							.bloodlevel
								.col-md-2
									h3.pull-right O - 
								.col-md-6
									.progress
										.progress-bar(class="progress-bar-{{oneg}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.oneglevel}}%")
								.col-md-2
									h3 {{onegtext}}
								.col-md-3
									button.btn.btn-danger
										h4 Donate O -
						.row.bloodlevel
							.col-md-2
								h3.pull-right A + 
							.col-md-6
								.progress
									.progress-bar(class="progress-bar-{{apos}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.aposlevel}}%")
							.col-md-2
								h3 {{apostext}}
							.col-md-3
								button.btn.btn-danger
									h4 Donate A +
						.row.bloodlevel
							.col-md-2
								h3.pull-right A -
							.col-md-6
								.progress
									.progress-bar(class="progress-bar-{{aneg}}",role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.aneglevel}}%")
							.col-md-2
								h3 {{anegtext}}
							.col-md-3
								button.btn.btn-danger
									h4 Donate A -
						.row.bloodlevel
							.col-md-2
								h3.pull-right B +
							.col-md-6
								.progress
									.progress-bar(class="progress-bar-{{bpos}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.bposlevel}}%")
							.col-md-2
								h3 {{bpostext}}
							.col-md-3
								button.btn.btn-danger
									h4 Donate B +
						.row.bloodlevel
							.col-md-2
								h3.pull-right B - 
							.col-md-6
								.progress
									.progress-bar(class="progress-bar-{{bneg}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.bneglevel}}%")
							.col-md-2
								h3 {{bnegtext}}
							.span3
								button.btn.btn-danger
									h4 Donate B -
						.row.bloodlevel
							.col-md-2
								h3.pull-right AB + 
							.col-md-6
								.progress
									.progress-bar(class="progress-bar-{{abpos}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.abposlevel}}%")
							.col-md-2
								h3 {{abpostext}}
							.col-md-3
								button.btn.btn-danger
									h4 Donate AB +
						.row.bloodlevel
							.col-md-2
								h3.pull-right AB - 
							.col-md-6
								.progress
									.progress-bar(class="progress-bar-{{abneg}}", role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width:{{banklevels.abneglevel}}%")
							.col-md-2
								h3 {{abnegtext}}
							.col-md-3
								button.btn.btn-danger
									h4 Donate AB -
					.col-md-3
						button.btn.btn-danger.btn-large.span3(ng-show="scheduleaction", bs-modal="'/partials/schedule'", data-toggle="modal"): h4 {{donatestatus}}
						button.btn.btn-danger.btn-large.span3(ng-show="scheduled", bs-tooltip="scheduledtooltip.title", data-placement="top"): h4 {{donatestatus}}
						button.btn.btn-danger.btn-large.span3(ng-show="notsigned", ng-click="checksignin()"): h4 {{donatestatus}}


				//.row
					.col-md-10.col-offset-1
							h2 Map
							hr
							br

				//.row
					.col-md-10.col-offset-1
						div(id="bloodbank-map", ui-map="myMap", ui-options="mapOptions", ui-event="{'map-idle' : 'onMapIdle()'}", style="height:300px;width:100%;")
						div(ng-repeat="marker in myMarkers", ui-map-marker="myMarkers[$index]")
							a(ng-repeat="bankprofile in bankprofile", class="btn", style="display:block; margin:0 auto;",ng-click="myMap.setCenter(marker.getPosition());myMap.setZoom(19);") Zoom &raquo; {{bankprofile.location_name}}
						br
				.row
					.col-md-12
							h2 About
							hr
							br
				.row(ng-repeat="bankprofile in bankprofile")
					.col-md-12
						.bankprofile-info.row
								.col-md-6
									h3 Description
									p {{bankprofile.location_description}}
									h3 Opening Hours
									p.hrs.detailicon {{bankprofile.location_hours}}
								.col-md-6
									//h3 Location
									//{{bankprofile.location_map}}
									//iframe(width="470", height="260", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps?q=13.092384,-59.607342&amp;num=1&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=13.091862,-59.607933&amp;output=embed")
									h3 Contact
									p.locationicon {{bankprofile.location_address}}, {{bankprofile.country_name}}
									p.tel.detailicon {{bankprofile.Area_Code}}-{{bankprofile.location_tel}}
									p.email.detailicon {{bankprofile.location_email}}
									p.web.detailicon {{bankprofile.location_site}}
				.row
					.col-md-12
						.bankprofile-stats.centre
							.row(ng-repeat="bankprofile in bankprofile")
								.col-md-12
									.org-graphs: h2 Stats for {{bankprofile.location_name}}
									hr		
							.row(ng-repeat="bankprofile in bankprofile").centre
								.col-md-12
									h3 Total Pledges Made
									h2 {{bankprofile.location_pledges}}
							.org-graphs
								//.row
									.col-md-10
										h2 Blood Levels
										hr
								//.row
									.col-md-10
										h4 Blood Levels
										div(chart id="chart1", title="Blood Levels", data="fdata", height='400', width='800', type="ColumnChart", value="Levels") Chart Data Not Found
								.row
									.col-md-12
										h2 Gender
										hr
								.row
									.col-md-6
										h3 Total Pledges By Gender
										div(chart id="chart2", title="Pledges By Gender", data="cdata", height='300', width='475', type="BarChart", value="Pledges") Chart Data Not Found
									.col-md-6
										h3 Division of Pledges By Gender
										div(chart id="chart3", title="Pledges By Gender", data="cdata", height='300', width='475', type="PieChart", value="Pledges") Chart Data Not Found					
								.row
									.col-md-12
										h2 Blood Type
										hr
								.row
									.col-md-6
										h3 Total Pledges By Blood Type
										div(chart id="chart4", title="Pledges By Blood Type", data="ddata", height='300', width='475', type="BarChart", value="Pledges") Chart Data Not Found
									.col-md-6
										h3 Division of Pledges By Blood Type
										div(chart id="chart5", title="Pledges By Blood Type", data="ddata", height='300', width='475', type="PieChart", value="Pledges") Chart Data Not Found
								.row
									.col-md-12
										h2 Causes
										hr
								.row
									.col-md-6
										h3 Total Pledges By Reason for Donation
										div(chart id="chart6", title="Pledges By Causes", data="edata", height='300', width='475', type="BarChart", value="Pledges") Chart Data Not Found
									.col-md-6
										h3 Division of Pledges By Reason for Donation
										div(chart id="chart7", title="Pledges By Causes", data="edata", height='300', width='475', type="PieChart", value="Pledges") Chart Data Not Found													


