.side-menu
	h4 Blood Types
	ul
		- if (locals.session)
			li: a(href="/drives/compatible") Compatible Drives
		li: a(href="/drives/o-pos") O+
		li: a(href="/drives/o-neg") O-
		li: a(href="/drives/a-pos") A+
		li: a(href="/drives/a-neg") A-
		li: a(href="/drives/b-pos") B+
		li: a(href="/drives/b-neg") B-
		li: a(href="/drives/ab-pos") AB+
		li: a(href="/drives/ab-neg") AB-
		li: a(href="/drives/unknown") Unknown
		//li(ng-repeat="bloodtype in bloodtype")
			a(href="/drives/{{bloodtype.bloodtype_url}}") {{bloodtype.bloodtype_name}}
	h4 Time
	ul
		li: a(href="/drives/most-recent") Most Recent
		li: a(href="/drives/soon-ending") Ending Soon
		li: a(href="/drives/drive-completed") Drives Ended
	h4 Location
	ul
		li: a(href="/drives/country/barbados") Barbados
		li: a(href="/drives/country/trinidad") Trinidad
		li: a(href="/drives/country/jamaica") Jamaica
		li: a(href="/drives/country/guyana") Guyana


