.content.content-header
	.container
		.row
			.col-md-12
				.row
					.col-md-7
						h3 Explore Donation Centres 
							| &raquo; 
							a {{chosenCountry}}
					.col-md-5
						select.form-control(required, ng-model="centreFilter")
							option(value="") -- filter by country --
							option(ng-repeat="countries in countries", value="{{countries.country_id}}") {{countries.country_name}}
				hr
		.row
			.col-md-10
				.centre-content-wrapper(ng-repeat="locations in filteredLocations")				
					div(style="background: #ececec;")
						img.img-responsive(style="width: 100%;", src="/assets/images/centres/{{locations.location_banner}}")
						.detail-figure
									ul.centre-detail 
										li
											h4
												i.fa.fa-plus-square.fa-lg
												.detailicon: a.centre(href="#") {{locations.location_name}}
												//.detailicon: a.centre(href="/centres/{{locations.location_id}}/{{locations.location_title}}") {{locations.location_name}}
										li
											h5
												i.fa.fa-road.fa-lg
												.detailicon {{locations.location_address}}, {{locations.country_name}}
										li
											h5
												i.fa.fa-phone-square.fa-lg
												.detailicon {{locations.ITU_calling}}-{{locations.location_tel}}
										li
											h5
												i.fa.fa-clock-o.fa-lg
												.detailicon {{locations.location_hours}}
						.div(style="clear:both")
							.centre-location-detail
									h4 &raquo; {{locations.country_name}}
			.col-md-2
				sidenav


