div#donorsignupForm
	p.form-error {{error}}
	form.signup(style="padding-bottom: 15px", name="donorsignupForm", novalidate)
		.controls
			label(for="signupName") Full Name
			input.span4(type="text", id="signupName", name="signupName", placeholder="enter your name", ng-model="user.signupName", required)
			span.right.error(ng-show="donorsignupForm.signupName.$error.required") Name Required
			span.right.success(ng-show="!donorsignupForm.signupName.$error.required") Success
		br
		.controls
			label(for="signupEmail") Email
			input.span4(type="email", id="signupEmail", name="signupEmail", placeholder="enter your email address", ng-model="user.signupEmail", required)
			span.right.error(ng-show="donorsignupForm.signupEmail.$error.required") Email Required
			span.right.error(ng-show="donorsignupForm.signupEmail.$error.email") Email Required
			span.right.success(ng-show="!donorsignupForm.signupEmail.$error.email && !donorsignupForm.signupEmail.$error.required") Success	
		br
		.controls
			label(for="signupTel") Telephone (Digits only. No area code.)
			input.span4(type="text", id="signupTel", ng-pattern="telephone", size="10", name="signupTel", placeholder="enter a telephone no", ng-model="user.signupTel", required)
			span.right.error(ng-show="donorsignupForm.signupTel.$error.required") Telephone Required
			span.right.error(ng-show="donorsignupForm.signupTel.$error.pattern") Valid Telephone Required
			span.right.success(ng-show="!donorsignupForm.signupTel.$error.pattern && !donorsignupForm.signupTel.$error.required") Success
		br
		.controls
			label(for="signupPassword") Password
			input.span4(type="password", id="signupPassword", name="signupPassword", placeholder="enter a password", ng-model="user.signupPassword", ng-minlength="5", required)
			span.right.error(ng-show="donorsignupForm.signupPassword.$error.required")  Password Required
			span.right.error(ng-show="donorsignupForm.signupPassword.$error.minlength") A Little Longer...
			span.right.success(ng-show="!donorsignupForm.signupPassword.$error.required && !donorsignupForm.signupPassword.$error.minlength") Success

		br
		.controls
			label(for="signupbloodTypes") Blood Type
			select.span4(name="signupbloodTypes", required, ng-model="user.signupbloodTypes")
				option(value="") -- chose your bloodtype --
				option(ng-repeat="bloodtypes in bloodtypes", value="{{bloodtypes.id}}") {{bloodtypes.name}}
			span.right.error(ng-show="donorsignupForm.signupbloodTypes.$error.required") Blood Type Required
			span.right.success(ng-show="!donorsignupForm.signupbloodTypes.$error.required") Success
		br
		.controls			
			label(for="signupGender") Gender
			select.span4(name="signupGender", required, ng-model="user.signupGender")
				option(value="") -- chose your gender --
				option(ng-repeat="gender in gender", value="{{gender.id}}") {{gender.name}}
			span.right.error(ng-show="donorsignupForm.signupGender.$error.required") Gender Required
			span.right.success(ng-show="!donorsignupForm.signupGender.$error.required") Success
		br
		.controls	
			label(for="signupLocation") Location
			select.span4(required, name="signupLocation", ng-model="user.signupLocation")
				option(value="") -- chose your location --
				option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
			span.right.error(ng-show="donorsignupForm.signupLocation.$error.required") Country Required
			span.right.success(ng-show="!donorsignupForm.signupLocation.$error.required") Success
		br
		button.butn.submit(ng-show="donorsignupForm.$invalid", ng-click="onSubmitSignup()", ng-disabled="donorsignupForm.$invalid") Fill Out Form
		button.butn.submit(ng-show="donorsignupForm.$valid", ng-click="onSubmitSignup()", ng-disabled="donorsignupForm.$invalid") Sign Up
