script.
	var info;
	$(document).ready(function() {
		var options = {
			'maxCharacterSize': 120,
			'originalStyle': 'originalTextareaInfo',
			'warningStyle' : 'summarywarning',
			'warningNumber': 40,
			'displayFormat' : '#left Characters Left'
		};
		$('#driveSummary').textareaCount(options);
	});
// End Content Header
.container
	.row.content.choice-header.page-content
		.col-md-12
			.row(ng-show="decision")
					.col-md-6
						button(ng-click="create()").butn.submit Create Drive As Guest
						h4.text Quickly create a blood drive without signing up
					.col-md-6
						button(ng-click="go('/signup')").butn.submit Sign Up For An Account
						h4.text Sign up for an account before creating a blood drive
					//.col-md-6
						button.butn.submit Create Account
			.row(ng-hide="decision")
				.col-md-5
					div#adddriveForm	
						h3 Create Blood Drive
						p(ng-show="error").alert.alert-danger.form-error {{error}} 
						form.adddriveForm(name="adddriveForm", novalidate)
							.form-group
								label(for="userEmail") Your Email Address
								input(type="email", placeholder="enter your email", name="userEmail", id="userEmail", ng-model="recipient.userEmail", required).form-control
								span.pull-right.error(ng-show="adddriveForm.userEmail.$error.required") Email Address Required
								span.pull-right.error(ng-show="adddriveForm.userEmail.$error.email") Email Address Required
							br
							.form-group
								label(for="recipientName") Blood Recipient Name
								input(type="text", placeholder="enter recipient name", name="recipientName", id="recipientName", ng-model="recipient.recipientName", required).form-control
								span.pull-right.error(ng-show="adddriveForm.recipientName.$error.required") Name Required
							.form-group
								label(for="driveSummary") Drive Summary
								textarea(rows="4", id="driveSummary", name="driveSummary", ng-model="recipient.driveSummary", placeholder="enter drive summary", required).form-control
								//span.right.error(ng-show="adddriveForm.driveSummary.$error.required") Summary Required
							.form-group				
								label(for="bloodTypes") Blood Type Needed
								select.form-control(name="bloodTypes", ng-model="recipient.bloodTypes", required)
									option(value="") -- chose recipient bloodtype --
									option(ng-repeat="bloodTypes in bloodTypes", value="{{bloodTypes.id}}") {{bloodTypes.name}}
								span.pull-right.error(ng-show="adddriveForm.bloodTypes.$error.required") Blood Type Required
							.form-group	
								label(for="driveUse") Reason for Drive
								select.form-control(required, name="driveUse", ng-model="recipient.driveUse")
									option(value="") -- chose use of blood --
									option(ng-repeat="uses in uses", value="{{uses.uses_id}}") {{uses.uses_name}}
								span.pull-right.error(ng-show="adddriveForm.driveUse.$error.required") Reason Required
							.form-group	
								label(for="driveCountry") Country
								select.form-control(required, name="driveCountry", ng-model="recipient.driveCountry", ng-change="countryChange()")
									option(value="") -- chose recipient country --
									option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
								span.pull-right.error(ng-show="adddriveForm.driveCountry.$error.required") Country Required
							.form-group	
								label(for="driveCentre") Donation Centre
								select.form-control(required, name="driveCentre", ng-model="recipient.driveCentre") 
									//ng-options="location.location_name for location in filteredLocations"
									option(value="") -- chose donation centre --
									option(ng-repeat="location in filteredLocations", value="{{location.location_id}}") {{location.location_name}}
								span.pull-right.error(ng-show="adddriveForm.driveCentre.$error.required") Donation Centre Required
							.form-group	
								label(for="deadlineDate", ng-class="{'label-error': aerror}") Deadline Date (mm/dd/yyyy)
								input(type="text", ng-model="recipient.deadlineDate", data-mask="99/99/9999", placeholder="enter deadline date", name="deadlineDate", id="deadlineDate", required, datepicker).form-control
								span.pull-right.error(ng-show="adddriveForm.deadlineDate.$error.required") Date Required
							.form-group
								button(ng-click="onSubmitAddDrive()", ng-disabled="adddriveForm.$invalid").butn.submit Create Drive
				.col-sm-offset-1.col-sm-6
					.display
						h3 Create A Blood Drive
						p Highlight a need for blood in your community. 
						p A family member, friend or work colleague needs blood. Make a request for blood to encourage others to donate and ensure the blood bank is stocked.
						//p Instructions, illustrations and tips about creating, end dates, collection process, locations, etc.



				

