.content.content-header
	.container
		.row
			.col-md-12
				h3 Explore Drives
		.row
			.col-md-10
				.empty-wrap(ng-show="emptydrive")
					script(type="text/javascript").
						(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
					img(src="/assets/images/data-empty.png")
					h4 {{text}}
					br
					emptysocial
				.row
					ul.drive-row
						li.drive-wrapper(ng-repeat="drivesactive in drivesactive | startFrom:currentPage*pageSize | limitTo:limit") 
							.drive
									a(href="/drive/{{drivesactive.Drive_ID}}/{{drivesactive.drive_title}}")
										h3 {{drivesactive.Drive_For}}
											//span.label.label-important {{drivesactive.example}}
									hr
									.description
										p {{drivesactive.Drive_Description}}
								.info
									hr
									.detail Days Left:
										strong  {{drivesactive.Days_Left}}
									.detail Donations Pledged: 
										strong  {{drivesactive.Pledge_Count}}
									hr
									.locationicon
										i.fa.fa-map-marker.fa-lg 
										a(href="/drives/country/{{drivesactive.country_url}}") {{drivesactive.Drive_Country}}
								.drive-bloodtype
									h4 {{drivesactive.BloodType_Needed}}
								p.started started by {{drivesactive.Created_By}}
								hr.below
				.row.drive-pagination(ng-hide="empty")
					.pages
						ul
							li(ng-hide="hideCurrent")
								a.btn(href="../drives/list?page=1")  &laquo; First		
							li: button.btn(ng-disabled="currentPage == 0", ng-click="prevPage()") &laquo; 
							li(ng-show="showCurrent", ng-repeat="content in content | limitTo:5")
									a.btn(href="../drives/list?page={{content+1}}", ng-class="{active: content == currentPage}") {{content+1}}
							li(ng-hide="hideCurrent", ng-repeat="content in content | startFrom:currentPage-2 | limitTo:2")
								a.btn(href="../drives/list?page={{content+1}}") {{content+1}}
							li(ng-hide="hideCurrent")
								a.btn(href="../drives/list?page={{currentPage+1}}", ng-class="{active: currentPage == currentPage}") {{currentPage+1}}
							li(ng-hide="hideCurrent", ng-repeat="content in content | startFrom:currentPage+1 | limitTo:2")
								a.btn(href="../drives/list?page={{content+1}}") {{content+1}}
							li: button.btn(ng-disabled="currentPage == numPages - 1", ng-click="nextPage()") &raquo;
							li(ng-hide="hideCurrent")
								a.btn(ng-disabled="currentPage == numPages - 1", href="../drives/list?page={{numPages}}") Last &raquo;		
			.col-md-2
				sidenav
