.content.content-header
	.container
		.row
			.col-md-12
				h3
					a(href="/drives/list") Discover Drives
					|  &raquo; {{breadcrumb}}
		.row
			.col-md-10
				.empty-wrap(ng-show="emptydrive")
					script(type="text/javascript")
						(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
					img(src="/assets/images/data-empty.png")
					h4 {{text}}
					br
					emptysocial		
				.row
					ul.drive-row
						li.drive-wrapper(ng-repeat="drives in drives | startFrom:currentPage*pageSize | limitTo:limit")
							.drive
									a(href="/drive/{{drives.Drive_ID}}/{{drives.drive_title}}")
										h3 {{drives.Drive_For}}
									hr
									.description
										p {{drives.Drive_Description}}
								.info
									hr
									.detail Days Left:
										strong  {{drives.Days_Left}}
									.detail Donations Pledged: 
										strong  {{drives.Pledge_Count}}
									hr
									.locationicon 
										i.fa.fa-map-marker.fa-lg
										a(href="/drives/country/{{drives.country_url}}") {{drives.Country}}
								.drive-bloodtype
									h4 {{drives.BloodType_Needed}}
								p.started started by {{drives.Created_By}}
								hr.below
				.row.drive-pagination(ng-hide="empty")
					.pages
						ul
							li(ng-hide="hideCurrent")
								a.btn(href="../drives/{{blood}}?page=1")  &laquo; First		
							li: button.btn(ng-disabled="currentPage == 0", ng-click="prevPage()") &laquo;
							li(ng-show="showCurrent", ng-repeat="content in content | limitTo:5")
									a.btn(href="../drives/{{blood}}?page={{content+1}}", ng-class="{active: content == currentPage}") {{content+1}}
							li(ng-hide="hideCurrent", ng-repeat="content in content | startFrom:currentPage-2 | limitTo:2")
								a.btn(href="../drives/{{blood}}?page={{content+1}}") {{content+1}}
							li(ng-hide="hideCurrent")
								a.btn(href="../drives/{{blood}}?page={{content+1}}", ng-class="{active: currentPage == currentPage}") {{currentPage+1}}
							li(ng-hide="hideCurrent", ng-repeat="content in content | startFrom:currentPage+1 | limitTo:2")
								a.btn(href="../drives/{{blood}}?page={{content+1}}") {{content+1}}
							li: button.btn(ng-disabled="currentPage == numPages - 1", ng-click="nextPage()") &raquo;
							li(ng-hide="hideCurrent")
								a.btn(ng-disabled="currentPage == numPages - 1", href="../drives/{{blood}}?page={{numPages}}") Last &raquo;
			.col-md-2
				sidenav
