.content.content-header
	toaster-container(toaster-options="{'position-class': 'toast-top-full-width'}")
	.container
		.row
			.col-md-12
				h3 
					a(href="/drives/list") Discover Drives
					|  &raquo; 
					a(href="/drives/{{drives.bloodtype_url}}") {{drives.BloodType_Needed}}
					|  &raquo;
					{{drives.Drive_For}}
				hr
		.row
			.col-md-12
				.row
					.col-md-2.blood
						span: h4 Receive Blood From
						ul
							li(ng-repeat="bloods in bloods")
								h5 {{bloods.bloodtype_name}}
		
					
					.col-md-5
							.drive-detail-wrapper
								.drive-content-wrapper
									.div(style="float: left; width: 50%; background: #ececec; height: auto;")
										.drive-detail 
											a(href="/drive/{{drives.Drive_ID}}/{{drives.drive_title}}"): h3(itemprop="name") {{drives.Drive_For}}
											hr
											.description
												p {{drives.Drive_Description}}
											//hr
									.div(style="float: right; width: 50%; background: #ececec; height: auto;")
										.drive
											.detail-figure 
												strong {{drives.Pledge_Count}}
												h3 donations pledged
											.detail-figure
												strong {{datediff.Date_Diff}} 
												h3 days left
										.info-detail										
											hr
											.locationicon 
												i.fa.fa-map-marker.fa-lg 
												a(href="/drives/country/{{drives.country_url}}") {{drives.country_name}}
									.div(style="clear:both")
										.drive-bloodtype
												h4 {{drives.BloodType_Needed}}
								.org-detail-info(ng-show="orgexist")
									p.org-started Supported by 
										a(href="/org/{{drives.org_id}}/{{drives.org_title}}") {{drives.org_name}}
									p {{drives.org_description}}
									p: a(href="http://org.reddonor.com/", target="_blank").btn.more Learn More
								.started started by {{drives.Created_By}}
								hr.below
								.drive-share
									ul
										li: h5.hidden-xs Share to:
										li
											a(href="https://www.facebook.com/sharer/sharer.php?u=http://my.reddonor.com/{{drives.Drive_ID}}/{{drives.drive_title}}", target="_blank").fb-shade 
												span.fa-stack.fa-lg
													i.fa.fa-square.fa-stack-2x
													i.fa.fa-facebook.fa-stack-1x.fa-inverse
												strong.soci Facebook
										li
											a(href="https://twitter.com/share?url=http://my.reddonor.com/{{drives.Drive_ID}}/{{drives.drive_title}}&text=Red%20Donor%20%7C%20Blood%20Request%20%3E%3E%20Please%20donate&via=RedDonor", class="", target="_blank").tw-shade 
												span.fa-stack.fa-lg
													i.fa.fa-square.fa-stack-2x
													i.fa.fa-twitter.fa-stack-1x.fa-inverse
												strong.soci Twitter
										li
											span.hidden-xs.hidden-md.hidden-sm.hidden-lg(itemprop="description") Red Donor | Blood Request for {{drives.Drive_For}} &gt;&gt; Please donate bloodtype {{drives.BloodType_Needed}} at {{locations.location_name}}, {{locations.country_name}}
											a(href="https://plus.google.com/share?url=http://my.reddonor.com/{{drives.Drive_ID}}/{{drives.drive_title}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;").g-shade 
												span.fa-stack.fa-lg
													i.fa.fa-square.fa-stack-2x
													i.fa.fa-google-plus.fa-stack-1x.fa-inverse
												strong.soci G +

					.col-md-5
						.donate
							button(ng-click="onSubmitUnPledgeDonation()", ng-disabled="ended", ng-show="unpledge", bs-tooltip="tooltip.title"): h3 {{drivestatus}}						
						.location
							h4 Donate At
							ul(ng-repeat="locations in locations").well
								li 
									h4 
										i.fa.fa-plus-square.fa-lg
										.locationicon: a.centre(href="#") {{locations.location_name}}
										//.locationicon: a.centre(href="/centres/{{locations.location_id}}/{{locations.location_title}}") {{locations.location_name}}
								li {{locations.location_address}}, {{locations.country_name}}
								li
									i.fa.fa-phone-square.fa-lg
									.detailicon {{locations.ITU_calling}}-{{locations.location_tel}}
								li
									i.fa.fa-clock-o.fa-lg
									.detailicon {{locations.location_hours}}
								button(ng-click="onSubmitPledgeDonation(locations.location_id)", class="pledge-btn", ng-disabled="ended", ng-hide="unpledge"): h3 {{drivestatus}}


