.col-md-7
	script.
		var info;
		$(document).ready(function() {
			var options = {
				'maxCharacterSize': 120,
				'originalStyle': 'originalTextareaInfo',
				'warningStyle' : 'summarywarning',
				'warningNumber': 40,
				'displayFormat' : '#left Characters Left'
			};
			$('#drive_description').textareaCount(options);
		});
	div#editDriveForm	
		h3 Edit Blood Drive
		p.form-error {{error}}
			form.editDriveForm(name="editDriveForm", novalidate)
				.form-group
					label(for="drive_name") Blood Recipient Name
					input.form-control(type="text", placeholder="enter recipient name", name="drive_name", id="recipientName", ng-model="recipient.drive_name", required)
					span.pull-right.error(ng-show="editDriveForm.drive_name.$error.required") Name Required
				.form-group				
					label(for="drive_description") Drive Summary
					textarea.form-control(rows="4", id="drive_description", name="drive_description", ng-model="recipient.drive_description", placeholder="enter drive summary", required).span4
					//span.pull-right.error(ng-show="editDriveForm.drive_description.$error.required") Summary Required					
				.form-group		
					label(for="drive_bloodtype") Blood Type Needed
					select.form-control(name="drive_bloodtype", ng-model="recipient.drive_bloodtype", ng-options="b.bloodtype_id as b.bloodtype_name for b in bloodtype", required)
						option(value="") -- chose recipient bloodtype --
					span.pull-right.error(ng-show="editDriveForm.drive_bloodtype.$error.required") Blood Type Required
				//label(for="donations_needed") Pints Needed
				//select.form-control(required, id="donations_needed", name="donations_needed", ng-model="recipient.donations_needed", ng-options="b.id as b.nos for b in donations")
					option(value="") -- chose pints required --
				.form-group		
					label(for="drive_use") Reason for Drive
					select.form-control(name="drive_use", required, ng-model="recipient.drive_use", ng-options="b.uses_id as b.uses_name for b in uses")
						option(value="") -- chose use of blood --
						option(ng-repeat="uses in uses", value="{{uses.uses_id}}") {{uses.uses_name}}
					span.pull-right.error(ng-show="editDriveForm.drive_use.$error.required") Reason Required
				.form-group		
					label(for="drive_country") Country
					select.form-control(name="drive_country", required, ng-model="recipient.drive_country", ng-options="b.country_id as b.country_name for b in country")
						option(value="") -- chose recipient country --
						option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
					span.pull-right.error(ng-show="editDriveForm.drive_country.$error.required") Country Required
				.form-group		
					p: strong Current Deadline Date: {{recipient.drive_enddate | date:'mediumDate' }}
					label(for="enddate") Change Deadline Date
					input.form-control(type="text", ng-model="recipient.enddate", placeholder="leave blank to keep current date", name="enddate", id="enddate", ui-date)
				.form-group
					button(ng-click="onSubmitEditDrive()", ng-disabled="editDriveForm.$invalid").butn.submit Save Changes