h5 Help us find people who need help by spreading the word.
					.social-share
						ul
							li: h5.hidden-xs Share to:
							li
								a(href="https://www.facebook.com/sharer/sharer.php?u=http://reddonor.com", target="_blank").fb-shade 
									span.fa-stack.fa-lg
										i.fa.fa-square.fa-stack-2x
										i.fa.fa-facebook.fa-stack-1x.fa-inverse
									strong.soci Facebook
							li
								//script.
									!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
								a(href="http://twitter.com/home?status=Red%20Donor%20connects%20people%20who%20need%20blood%20with%20willing%20blood%20donors.%20Help%20save%20a%20life!%20http://www.reddonor.com%20%23donateblood%20via%20@RedDonor", target="_blank").tw-shade 
									span.fa-stack.fa-lg
										i.fa.fa-square.fa-stack-2x
										i.fa.fa-twitter.fa-stack-1x.fa-inverse
									strong.soci Twitter
							li
								a(href="https://plus.google.com/share?url=http://www.reddonor.com", onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;").g-shade 
									span.fa-stack.fa-lg
										i.fa.fa-square.fa-stack-2x
										i.fa.fa-google-plus.fa-stack-1x.fa-inverse
									strong.soci G +		