section.sub-header
			.container
				.row
					.sub-text.col-md-10.col-md-offset-1
						h1 FAQs

section.container
	.row.page-content
		.col-md-10.col-md-offset-1
				h4 What is Red Donor?
				p Red Donor is a crowd sourcing platform for blood donations. People from around the Caribbean can post requests for blood and pledge to donate 
					| blood to people who need it in their communities.
				h4 How does it work?
				p Blood donations are pledged via Blood Drives. A Blood Drive can be created by or on behalf of the blood recipient by 
					| any person. Blood donors with a compatible blood type can pledge to make a donation at their nearest blood donation centre.
				h4 How to pledge a blood donation?
				p After signing up for a Red Donor account, you can browse the active Blood Drives for recipients with compatible blood types.
				h4 How to donate blood?
				p You can donate at your nearest local blood donation clinic. The opening hours of the local blood donor centres are listed with Blood Drive details.
				p The process of donating blood encompasses 3 steps - Preparation for Your Donation, The Donation Process and After the Donation.
				h5 Preparation For Your Donation
				ul
					li The day before you donate, drink plenty of liquids
					li Eat something at least 3 hours before you donate
				h5 Donation Process
				ul
					li Before donation you will be asked a few questions to determine if you are eligible to donate blood
					li Your hemoglobin level, temperature, pulse and blood will be checked before donation
					li Sterile equipment will be used to collect the blood for about 10 minutes
					li After donating, you will be asked to rest in the chair for a few minutes during which you can request a drink
				h5 After Donating
				ul
					li Continue to drink water throughout the day
					li Try not to over exert yourself for the rest of the day
				h4 How to start a Blood Drive?
				p Click Create A Blood Drive. You can choose to create a blood drive as a guest or sign up for an account first. Type the recipient's name, a description of the reason for the Blood Drive, 
					| blood type required, country located and the deadline date to start a Blood Drive.
				h4 How to find persons to donate to?
				p The quickest way to find someone to donate to is to sign up for a Red Donor account and click Compatible Drives.
				h4 Who can donate blood?
				p The eligibility for blood donors differs from country to country. Most people are able to donate blood if they: 
				ul
					li are between the ages of 18 and 65 and in healthy condition
					li weigh more than 110 pounds
					li have not had a tattoo or body piercing within the past 12 months
					li are not pregnant or nursing
					li have no history of jaundice after age 11