div#signupForm
	h3 Sign up for an account 
	p(ng-show="error").alert.alert-danger.form-error {{error}} 
	form.signup(style="padding-bottom: 15px", role="form", name="signupForm", novalidate)
		.form-group
			label(for="signupEmail", ng-class="{'label-error': eerror}") Email
			input.form-control(type="email", id="signupEmail", name="signupEmail", placeholder="enter your email address", ng-model="user.signupEmail", required)
			span.pull-right.error(ng-show="signupForm.signupEmail.$error.required") Email Required
			span.pull-right.error(ng-show="signupForm.signupEmail.$error.email") Email Required
		.form-group
			label(for="signupName") Full Name
			input.form-control(type="text", id="signupName", name="signupName", placeholder="enter your name", ng-model="user.signupName", required)
			span.pull-right.error(ng-show="signupForm.signupName.$error.required") Name Required		
		.form-group
			label(for="signupPassword") Password
			input.form-control(type="password", id="signupPassword", name="signupPassword", placeholder="enter a password", ng-model="user.signupPassword", ng-minlength="5", required)
			span.pull-right.error(ng-show="signupForm.signupPassword.$error.required")  Password Required
			span.pull-right.error(ng-show="signupForm.signupPassword.$error.minlength") A Little Longer...
		.form-group
			label(for="signupbloodTypes") Blood Type
			select.form-control(name="signupbloodTypes", required, ng-model="user.signupbloodTypes")
				option(value="") -- chose your bloodtype --
				option(ng-repeat="bloodtypes in bloodtypes", value="{{bloodtypes.id}}") {{bloodtypes.name}}
			span.pull-right.error(ng-show="signupForm.signupbloodTypes.$error.required") Blood Type Required
		.form-group			
			label(for="signupGender") Gender
			select.form-control(name="signupGender", required, ng-model="user.signupGender")
				option(value="") -- chose your gender --
				option(ng-repeat="gender in gender", value="{{gender.id}}") {{gender.name}}
			span.pull-right.error(ng-show="signupForm.signupGender.$error.required") Gender Required
		.form-group
			label(for="signupDOB", ng-class="{'label-error': aerror}") Date of Birth (mm/dd/yyyy)
			input.form-control(type="text", ng-model="user.signupDOB", placeholder="enter your date of birth", data-mask="99/99/9999", name="signupDOB", id="signupDOB", required, datepicker)
			span.pull-right.error(ng-show="signupForm.signupDOB.$error.required") Birth Date Required	
		.form-group	
			label(for="signupLocation") Location
			select.form-control(required, name="signupLocation", ng-model="user.signupLocation")
				option(value="") -- chose your location --
				option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
			span.pull-right.error(ng-show="signupForm.signupLocation.$error.required") Country Required
		button.submit(ng-show="signupForm.$invalid", ng-click="onSubmitSignup()", ng-disabled="signupForm.$invalid") Fill Out Form
		button.submit(ng-show="signupForm.$valid", ng-click="onSubmitSignup()", ng-disabled="signupForm.$invalid") Sign Up
