// Sub Header
header.subheader
  .container
    .row
      .col-md-12
        .hero-section
          //.video-container
            iframe(width='560', height='315', src='//www.youtube.com/embed/9oCR1Yo5em8?autoplay=0&controls=0&showinfo=0&rel=0', frameborder='0')
          h1 Give the gift of life!
          p Someone needs your help today. We can save lives, one donation at a time.
          p
            a.herobtn(href='/create') Start A Blood Drive
// Drives Display
.container.content
  .row
    .col-md-10
      .row
        .breadcrumb-nav
          .col-md-8
            h3 Most Recent Blood Drives
          .col-md-4.pull-right
            h4.more: a(href="/drives/most-recent") See More  
              i.fa.fa-chevron-right.rred
      .row
        .col-md-10
          .empty-wrap(ng-show="emptydrive")
            script(type="text/javascript").
              (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            img(src="/assets/images/data-empty.png")
            h4 {{textrecent}}
            br
            emptysocial
      .row
        ul.drive-row
          li.drive-wrapper(ng-repeat="drivesrecent in drivesrecent")
            .drive
              h3
                a(href="/drive/{{drivesrecent.Drive_ID}}/{{drivesrecent.drive_title}}") {{drivesrecent.Drive_For}}
              hr
              .description
                p {{drivesrecent.Drive_Description}}
            .info
              hr
              .detail Days Left:
                strong  {{drivesrecent.Days_Left}}
              .detail Donations Pledged: 
                strong  {{drivesrecent.Pledge_Count}}
              hr
              .locationicon
                i.fa.fa-map-marker.fa-lg  
                a(href="/drives/country/{{drivesrecent.country_url}}") {{drivesrecent.Country}}
            .drive-bloodtype
              h4 {{drivesrecent.BloodType_Needed}}
            p.started started by {{drivesrecent.Created_By}}
            hr.below
              
      .row
        .breadcrumb-nav
          .col-md-8
            h3 Soon Ending Blood Drives
          .col-md-4.pull-right
            h4.more: a(href="/drives/soon-ending") See More  
              i.fa.fa-chevron-right.rred
      .row
        .col-md-10
          .empty-wrap(ng-show="alsoempty")
            script(type="text/javascript").
              (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            img(src="/assets/images/data-empty.png")
            h4 {{textend}}
            br
            emptysocial
      .row
        ul.drive-row
          li.drive-wrapper(ng-repeat="drivesend in drivesend|limitTo:limit")
            .drive
              h3
                a(href="/drive/{{drivesend.Drive_ID}}/{{drivesend.drive_title}}") {{drivesend.Drive_For}}
                //span.label.label-important {{drivesend.example}}
              hr
              .description
                p {{drivesend.Drive_Description}}
            .info
              hr
              .detail Days Left:
                strong  {{drivesend.Days_Left}}
              .detail Donations Pledged: 
                strong  {{drivesend.Pledge_Count}}
              hr
              .locationicon
                i.fa.fa-map-marker.fa-lg 
                a(href="/drives/country/{{drivesend.country_url}}") {{drivesend.Country}}
            .drive-bloodtype
              h4 {{drivesend.BloodType_Needed}}
            p.started started by {{drivesend.Created_By}}
            hr.below
      
      
      
    .col-md-2
      sidenav