!!!
html(lang="en", data-ng-app="reddonor")
	head
		meta(chartset="utf-8")
		title(ng-bind="'Red Donor: Beta | ' + title", ng-cloak class="ng-cloak") Red Donor
		meta(name="title", content="Red Donor: Connecting Those Who Need Blood To Blood Donors In Your Community")
		meta(name="description", content="Red Donor makes it easier for those who need blood to connect with blood donors in their community.")
		meta(name="keywords", content="Blood Donations, Blood Donors, Caribbean Blood Donation, Caribbean Blood Donation Centres")
		meta(property="og:title", content="Red Donor: Connecting Those Who Need Blood To Blood Donors In Your Community")
		meta(property="og:description", content="Red Donor makes it easier for those who need blood to connect with blood donors in their community.")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://www.reddonor.com")
		meta(property="og:site_name", content="Red Donor")
		// Included CSS Files
		link(rel="stylesheet", href="/css/base-min.css")
		link(rel="stylesheet", href="/js/lib/toastr/toastr.min.css")
		//link(rel="stylesheet", href="//cdn.oesmith.co.uk/morris-0.4.1.min.css")
		// Included Web Fonts
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Varela+Round")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:500')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo:400,700')
		link(rel="shortcut icon", href="/images/favicon.ico")
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37326435-1']);
			_gaq.push(['_setDomainName', 'reddonor.com']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		// Facebook Button
		div(id="fb-root")
		script(type="text/javascript")
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		// Twitter Button
		script(type="text/javascript")
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
		script(type="text/javascript")
			//if (window.location.hash == '#_=_')window.location.hash = '';
			//function handleError() { return true; } window.onerror = handleError;
	body
	// Navbar
	.wrap
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					.row
						.span4
							a.brand(href="/"): img(src="/images/red-donor-logo.png")
						.span8
							- if (locals.user_name)
								rednav
							- else
								onenav
		// Main Content
		.main(ng-view)
	// Footer
	.footer-wrap
		.container
			.footer
				.row
					.span3
						h4 Copyright &copy; 2013 Red Donor
						ul: li All Rights Reserved
						br
						div(class="g-plusone", data-size="medium")
						br
						div(class="fb-like", data-href="https://www.facebook.com/RedDonor", data-send="false", data-layout="button_count", data-width="55", data-show-faces="false", data-font="arial")
						div: a(href="https://twitter.com/RedDonor", class="twitter-follow-button", data-show-count="false") Follow @RedDonor
						//script(type="text/javascript")
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
						script(type="text/javascript")
							(function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							})();
						
					.span2
						h4 About Us
						ul
							li: a(href="/about") About & Team
							li: a(href="http://blog.reddonor.com/") Blog
							li: a(href="/contact") Contact Us
					.span2
						h4 Support
						ul
							li: a(href="/faq") FAQ
							li: a(href="/policy") Privacy Policy
							li: a(href="/terms") Terms of Use
					.span3.social
						h4 Network
						ul
							li: a(href="http://www.facebook.com/RedDonor", target="_blank").facebook.facebook.socialicon Facebook
							li: a(href="http://twitter.com/RedDonor", target="_blank").twitter.twit.socialicon Twitter
							li: a(href="http://blog.reddonor.com/", target="_blank").google.rss.socialicon Blog

	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
	script(src="https://www.google.com/jsapi")
	script
		google.load('visualization', '1.0', {'packages':['corechart']});
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js")
	script(src="//angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js")
	script(src="/js/lib/toastr/toastr.js")
	// Insert Javascript / Bootstrap Scripts
	script(src="/js/base.min.js")
	// Insert Angularjs Controllers
	script(src="/js/controllers.min.js")



	




