//.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.row
				.span3
					a.brand(href="/"): img(src="/images/red-donor-logo.png")
				.span9
				//- if (locals.user_name)
					rednav
				//- else
					onenav
				onenav
// Sub Header
header.pagesubheader.donorpage
	.container
		.row
			.span12
				.hero-section.hero-donor
					h3 How can you help in an emergency?
					h3 
						span: a(href="#") Register as an Emergency Blood Donor
					//.div
						a(type="button", href="/signup").butn.more.rd-red 
							strong Join Red Donor
						a(type="button", href="/how-it-works").butn.more.butn-blk 
							strong Learn More
		.row
// Content Header
.content-head
	.container
		.row
			.span12
				//h3 Sign Up
				br
.container
	.row
		.span12
			.row
				.offset1.span4
					div(ng-hide="donorsuccess", id="donorsignupForm")
						p.form-error {{error}}
						form.signup(style="padding-bottom: 15px", name="donorsignupForm", novalidate)
							.controls
								label(for="signupName") Full Name *
								input.span4(type="text", id="signupName", name="signupName", placeholder="enter your name", ng-model="user.signupName", required)
								span.right.error(ng-show="donorsignupForm.signupName.$error.required") Name Required
								span.right.success(ng-show="!donorsignupForm.signupName.$error.required") Success
							br
							.controls
								label(for="signupEmail") Email
								input.span4(type="email", id="signupEmail", name="signupEmail", placeholder="enter your email address", ng-model="user.signupEmail", required)
								span.right.error(ng-show="donorsignupForm.signupEmail.$error.required") Email Required
								span.right.error(ng-show="donorsignupForm.signupEmail.$error.email") Email Required
								span.right.success(ng-show="!donorsignupForm.signupEmail.$error.email && !donorsignupForm.signupEmail.$error.required") Success	
							br
							.controls
								label(for="signupTel") Telephone (Digits only. No area code.)
								input.span4(type="text", id="signupTel", ng-pattern="telephone", size="10", name="signupTel", placeholder="enter a telephone no", ng-model="user.signupTel", required)
								span.right.error(ng-show="donorsignupForm.signupTel.$error.required") Telephone Required
								span.right.error(ng-show="donorsignupForm.signupTel.$error.pattern") Valid Telephone Required
								span.right.success(ng-show="!donorsignupForm.signupTel.$error.pattern && !donorsignupForm.signupTel.$error.required") Success
							br
							.controls
								label(for="signupPassword") Password
								input.span4(type="password", id="signupPassword", name="signupPassword", placeholder="enter a password", ng-model="user.signupPassword", ng-minlength="5", required)
								span.right.error(ng-show="donorsignupForm.signupPassword.$error.required")  Password Required
								span.right.error(ng-show="donorsignupForm.signupPassword.$error.minlength") A Little Longer...
								span.right.success(ng-show="!donorsignupForm.signupPassword.$error.required && !donorsignupForm.signupPassword.$error.minlength") Success

							br
							.controls
								label(for="signupbloodTypes") Blood Type
								select.span4(name="signupbloodTypes", required, ng-model="user.signupbloodTypes")
									option(value="") -- chose your bloodtype --
									option(ng-repeat="bloodtypes in bloodtypes", value="{{bloodtypes.id}}") {{bloodtypes.name}}
								span.right.error(ng-show="donorsignupForm.signupbloodTypes.$error.required") Blood Type Required
								span.right.success(ng-show="!donorsignupForm.signupbloodTypes.$error.required") Success
							br
							.controls			
								label(for="signupGender") Gender
								select.span4(name="signupGender", required, ng-model="user.signupGender")
									option(value="") -- chose your gender --
									option(ng-repeat="gender in gender", value="{{gender.id}}") {{gender.name}}
								span.right.error(ng-show="donorsignupForm.signupGender.$error.required") Gender Required
								span.right.success(ng-show="!donorsignupForm.signupGender.$error.required") Success
							br
							.controls	
								label(for="signupLocation") Location
								select.span4(required, name="signupLocation", ng-model="user.signupLocation")
									option(value="") -- chose your location --
									option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
								span.right.error(ng-show="donorsignupForm.signupLocation.$error.required") Country Required
								span.right.success(ng-show="!donorsignupForm.signupLocation.$error.required") Success
							br
							button.butn.submit(ng-show="donorsignupForm.$invalid", ng-click="onSubmitSignup()", ng-disabled="donorsignupForm.$invalid") Fill Out Form
							button.butn.submit(ng-show="donorsignupForm.$valid", ng-click="onSubmitSignup()", ng-disabled="donorsignupForm.$invalid") Sign Up

					div(ng-show="donorsuccess")
						h3 Success!
						h4 Thank you for signing up to be an emergency donor.
						p A confirmation email has been sent to your email address.
				
				.offset1.span5
					.display
						h3 Be a part of our Emergency Blood Donor List
						p In the event of a major accident, disaster or emergency situation, blood is required quickly and in larger than average amounts.
						p Low levels of the rarer blood groups can also occur frequently, putting the lives of persons with those blood types at risk.
						p If you have a rare blood type or would like to help in an emergency situation or can donate blood quickly please sign up.
					ul
						li(ng-repeat="country in country")
							{{country.country_name}}
	.row
		.offset2.span8
			//sociallogin
