.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						img(itemprop="image", src='/assets/images/red-donor-logo.png')
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.hidden-sm
							a(href='/howitworks')
								strong How You Can
								span Save a life
						li
							a(href='/drives/list')
								strong Pledge
								span a donation
						li.dropdown.hidden-xs
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								strong Give
								span blood at
								b.caret
							ul.dropdown-menu
								li(ng-repeat="userlocations in userlocations"): a(href="/centres/{{userlocations.location_id}}/{{userlocations.location_title}}") {{userlocations.location_name}}
								li.divider
								li
									a.rred(href='/centre/list') » Explore All Centres
						li.visible-xs
							a(href='/centre/list')
								strong Give
								span blood
						li
							a(href='/drive/create')
								strong Create
								span a blood drive
						li.dropdown.hidden-xs
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								strong {{username}}
								span welcome
								b.caret
							ul.dropdown-menu
								li
									a(href='/profile') Profile
								li
									a(href='/profile/drives') My Drives
								li
									a(href='/profile/history') My Pledges
								//li
									a(href='/profile/appointments') My Appointments
								li
									a(href='/profile/settings') Settings
								li
									a(href='#', ng-click='onlogOut()') Logout
						li.visible-xs
							a(href='/profile/')
								strong Your
								span Profile
						li
							a.menubtn.visible-xs(href='#', ng-click='onlogOut()') Logout
