.container.content.content-header
	toaster-container(toaster-options="{'position-class': 'toast-top-full-width'}")
	.row
		.col-md-12
			.row
				.col-sm-5
					loginform
					div(ng-show="forgotpwd").forgot-wrap
						h3 Forgot Password
						p(ng-show="noexist").alert.alert-danger.form-error {{noexist}} 
						form.forgotpassword(name="forgotForm")
							.form-group
								label(for="loginEmail") Email 
								input.form-control(type="email", id="forgotEmail", name="forgotEmail", placeholder="enter your email address", ng-model="forgot.forgotEmail", required)
								span.pull-right.error(ng-show="forgotForm.forgotEmail.$error.required") Email Required
								span.pull-right.error(ng-show="forgotForm.forgotEmail.$error.email") Email Required
							button.submit(ng-click="onSubmitsendEmail()", ng-disabled="forgotForm.$invalid") Submit

				.col-sm-offset-1.col-sm-6
					.display
						h3 Join Our Community
						p We want to ensure a safe and stable supply of blood for those who need. Be a part of our community of blood donors, blood requesters and good will organisations. 
						p We connect you with blood donors and people who need blood. 
						h3 Create A Blood Drive
						p You can create a blood drive request for someone in your community who needs blood urgently.
					.display
						h3 Donate To Blood Drives & Centres
						p Whether a first time blood donor, donating for someone or a regular volunteer donor, you can make a difference.  


