div#loginForm
	h3 Log into your account
	p(ng-show="incorrect").alert.alert-danger.form-error {{incorrect}} 
	form.login(style="padding-bottom: 15px", role="form", name="loginForm", novalidate)
		.form-group
			label(for="loginEmail") Email 
			input.form-control(type="email", id="loginEmail", name="loginEmail", placeholder="enter your email address", ng-model="user.loginEmail", required)
			span.pull-right.error(ng-show="loginForm.loginEmail.$error.email") Email Required
			span.pull-right.error(ng-show="loginForm.loginEmail.$error.required") Email Required
		.form-group			
			label(for="loginPassword") Password
			input.form-control(type="password", id="loginPassword", name="loginPassword", placeholder="enter your password", ng-model="user.loginPassword", required)
			span.pull-right.error(ng-show="loginForm.loginPassword.$error.required") Password Required
		button.submit(ng-click="onSubmitLogin()", ng-disabled="loginForm.$invalid") Log In
	p: span(ng-click="showForgot()").clickable Forgot Password?
		