.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(itemprop="image", src='/assets/images/red-donor-logo.png')
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden-sm
              a(href='/howitworks')
                strong How You Can
                span Save a life
            li
              a(href='/drives/list')
                strong Pledge
                span a donation
            li.dropdown.hidden-xs
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                strong Give
                span blood in
                b.caret
              ul.dropdown-menu
                li(ng-repeat='country in country')
                  a(href='/centre/{{country.country_url}}') {{country.country_name}}
                li.divider
                li
                  a.rred(href='/centre/list') » Explore All Countries
            li.visible-xs
              a(href='/centre/list')
                strong Give
                span blood
            li
              a(href='/create')
                strong Create
                span a blood drive
            li
              a.menubtn.visible-xs(href='#') Login / Signup
            li
              a.mbtn.hidden-xs(href='/login') Log In
            li
              a.mbtn.hidden-xs(href='/signup') Sign Up    
