.content.content-header.container
	.row
		.col-md-12
			.org-profile		
				.div(ng-repeat="orgprofile in orgprofile")
					.org-title
						h2 {{orgprofile.org_name}}
					.row.org-info
						.col-md-6
							h3 Description
							p {{orgprofile.org_description}}							
						.col-md-6
							//h3 Location
							//iframe(width="470", height="260", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps?q=13.092384,-59.607342&amp;num=1&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=13.091862,-59.607933&amp;output=embed")
							h3 Contact
							p.locationicon {{orgprofile.org_address}}, {{orgprofile.country_name}}
							p.tel.detailicon {{orgprofile.Area_Code}}-{{orgprofile.org_tel}}
							p.email.detailicon {{orgprofile.org_email}}
							p.web.detailicon {{orgprofile.org_site}}
					.row.org-stats.centre						
						.org-graphs: h2 Stats for {{orgprofile.org_name}}
						hr					
						.col-md-6
							h3 Total Drives Started
							h2 {{orgprofile.org_drives}}						
						.col-md-6
							h3 Total Pledges Made
							h2 {{orgprofile.org_pledges}}
					.org-graphs
						.row
							.col-md-12
								h2 Causes
								hr
						.row.centre
							.col-md-6
								h3 Total Drives Created By Causes
								div(chart id="chart8", title="Drives Created", data="data", height='300', width='475', type="{{selectedChart}}") Chart Data Not Found
							.col-md-6
								h3 Division of Drives Created by Causes
								div(chart id="chart9", title="Drives Created", data="data", height='300', width='475', type="BarChart", value="Drives") Chart Data Not Found							
						.row.centre
							.col-md-6
								h3 Total Pledges By Causes
								div(chart id="chart10", title="Reasons for Drives", data="bdata", height='300', width='475', type="{{selectedChart}}") Chart Data Not Found
							.col-md-6
								h3 Division of Pledges by Causes
								div(chart id="char11", title="No of Pledges by Reasons", data="bdata", height='300', width='475', type="BarChart", value="Pledges") Chart Data Not Found
						.row.centre
							.col-md-12
								h2 Gender
								hr
						.row.centre
							.col-md-6
								h3 Division of Pledges By Gender
								div(chart id="chart13", title="Pledges By Gender", data="cdata", height='300', width='475', type="PieChart", value="Pledges") Chart Data Not Found
							.col-md-6
								h3 Total Pledges By Gender
								div(chart id="chart12", title="Pledges By Gender", data="cdata", height='300', width='475', type="BarChart", value="Pledges") Chart Data Not Found
						.row.centre
							.col-md-12
								h2 Blood Type
								hr
						.row.centre
							.col-md-6
								h3 Division of Drives By Blood Type
								div(chart id="chart15", title="Drives By Blood Type", data="ddata", height='300', width='475', type="PieChart", value="Drives") Chart Data Not Found
							.col-md-6
								h3 Total Drives By Blood Type
								div(chart id="chart14", title="Drives By Blood Type", data="ddata", height='300', width='475', type="BarChart", value="Drives") Chart Data Not Found
						.row.centre
							.col-md-6
								h3 Division of Pledges By Blood Type
								div(chart id="chart15", title="Pledges By Blood Type", data="edata", height='300', width='475', type="PieChart", value="Pledges") Chart Data Not Found
							.col-md-6
								h3 Total Pledges By Blood Type
								div(chart id="chart14", title="Pledges By Blood Type", data="edata", height='300', width='475', type="BarChart", value="Pledges") Chart Data Not Found
																		
