.content.content-header.container
	toaster-container(toaster-options="{'position-class': 'toast-top-full-width'}")
	.row
		.col-md-12
			p(ng-show="msg").alert.alert-success.form-error {{msg}}
			.row
				.col-md-5					
					div(ng-show="forgotpwd").forgot-wrap
						h3 Forgot Password
						p(ng-show="noexist").alert.alert-danger.form-error {{noexist}} 
						form.forgotpassword(name="forgotForm")
							.form-group
								label(for="loginEmail") Email 
								input.form-control(type="email", id="forgotEmail", name="forgotEmail", placeholder="enter your email address", ng-model="forgot.forgotEmail", required)
								span.pull-right.error(ng-show="forgotForm.forgotEmail.$error.required") Email Required
								span.pull-right.error(ng-show="forgotForm.forgotEmail.$error.email") Email Required
							button.butn.submit(ng-click="onSubmitsendEmail()", ng-disabled="forgotForm.$invalid") Submit
					div(ng-show="validUser")
						h3 Reset Password
						br	
						form.resetPassword(style="padding-bottom: 15px", name="resetPasswordForm", novalidate)									
							.form-group
								label(for="resetPassword").control-label New Password
								.controls
									//span.error(ng-show="resetPasswordForm.resetPassword.$valid")  (Valid password!)		
									input.form-control(type="password", id="resetPassword", name="resetPassword", placeholder="enter a password", ng-model="resetpassword.resetPassword", ng-minlength="5", required)
									span.pull-right.error(ng-show="resetPasswordForm.resetPassword.$error.required")  Please Insert A New Password
									span.pull-right.error(ng-show="resetPasswordForm.resetPassword.$error.minlength")  A little longer...
							button.butn.submit(ng-click="onSubmitNewPassword()", ng-disabled="resetPasswordForm.$invalid") Submit New Password