// Donation Centre Schedule Wizard

#scheduleForm	
	.modal-header
		button.close(data-dismiss="modal", aria-hidden="true") &times;
		h3 Schedule Your Donation
	.modal-body
		div
			.btn-group
				button.btn.btn-link(ng-class="{'btn-inverse':isCurrentStep(0)}") Set Schedule
				button.btn.btn-link(ng-class="{'btn-inverse':isCurrentStep(1)}") Summary
		.row.slide-frame(ng-switch="getCurrentStep()")
			div(ng-switch-when="one")
				.span8
					.span4		
						// Step 1 - Set Schedule
						br
						h4 Please select your desired date and time.
						br
						form.scheduleForm.form-horizontal(style="padding-bottom: 15px", name="scheduleForm", novalidate)
							.control-group
								label(for="apptDate").label-appointment: h4 DATE						
								.label-controls
									input.span3(type="text", ng-model="schedule.apptDate", placeholder="enter appointment date", name="apptDate", id="apptDate", ui-date, required)
									span.error-h(ng-show="scheduleForm.apptDate.$error.required")  Date Required
									span.symbolscess(ng-show="!scheduleForm.apptDate.$error.required")  å	
							input(type="hidden", ng-model="schedule.apptType", name="apptType")
							input(type="hidden", ng-model="schedule.apptTime", name="apptTime")
							input(type="hidden", ng-model="schedule.apptStatus", name="apptStatus")
						button.chk-btn(ng-click="getAppts()", ng-disabled="scheduleForm.$invalid") Check Availability &raquo;
					.span3
						br
						h4(ng-show="apptmsg") Appointments left for {{schedule.apptDate | date:'mediumDate' }} 
						br
						span.error-h(ng-show="apptend") {{appterror}}
						ul.appts(ng-repeat="appt in appt")
							li
								button(ng-click="selectSession(1)", bs-tooltip="tooltip.title", data-placement="left", ng-disabled="apptfull1") Early Morning 
								span.badge.badge-important  x {{maxappt - appt.time1}}
							li
								button(ng-click="selectSession(2)" , bs-tooltip="tooltip.title", data-placement="left", ng-disabled="apptfull2") Mid Morning
								span.badge.badge-important  x {{maxappt - appt.time2}}
							li
								button(ng-click="selectSession(3)" , bs-tooltip="tooltip.title", data-placement="left", ng-disabled="apptfull3") Early Afternoon
								span.badge.badge-important  x {{maxappt - appt.time3}}
							li
								button(ng-click="selectSession(4)" , bs-tooltip="tooltip.title", data-placement="left", ng-disabled="apptfull4") Late Afternoon
								span.badge.badge-important  x {{maxappt - appt.time4}}

				br

			div(ng-switch-when="two")
				.span8
					.span4
						// Step 2 - Confirm / Summary
						br
						h4 Please confirm your donation.
						br
						p 
							| Donate at the 
							b {{bankprofile[0].location_name}} 
							| on 
							b {{schedule.apptDate | date:'fullDate' }} 
							| during the 
							b {{schedule.apptSession}} 
							| session.
					.span3
						br
						h4 Appointment Info
						div(ng-repeat="profiles in profiles") 
							p Blood Type - {{profiles.bloodtype_name}}
						a(href="#") Before Donation Tips &raquo;
				br
				.right
					a.btn(ng-click="handlePrevious()", ng-show="!isFirstStep()") Back
					button.btn(ng-click="handleNext(dismiss)", ng-disabled="scheduleForm.$invalid") {{getNextLabel()}}
