div.profilesettings
	h3 Profile Settings
	p Change your account, password and location settings
	form.profilesettings.form-horizontal(style="padding-bottom: 15px", name="settingsaccountForm", novalidate)
		hr
		h4 Account
		.form-group
			label(for="user_name").control-label.col-md-4 Name
			.col-md-8
				input.form-control(type="text", id="user_name", name="user_name", placeholder="enter your name", ng-model="settings.user_name", required)
				span.error(ng-show="settingsaccountForm.user_name.$error.required")  Name Required
		.form-group
			label(for="user_email").control-label.col-md-4 Email
			.col-md-8
				input.form-control(type="email", id="user_email", name="user_email", placeholder="enter your email address", ng-model="settings.user_email", required)
				span.error(ng-show="settingsaccountForm.user_email.$error.email")  Email Required
				span.error(ng-show="settingsaccountForm.user_email.$error.required")  Email Required
		.form-group
			label(for="user_country").control-label.col-md-4 Location
			.col-md-8
				select.form-control(name="user_country", required, ng-model="settings.user_country", ng-options="b.country_id as b.country_name for b in country")
					option(value="") -- chose your location --
					option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
				span.error(ng-show="settingsaccountForm.user_country.$error.required")  Country Required
		hr
		span.savebutton
			button.butn.submit(ng-click="onSubmitSaveAccount()", ng-disabled="settingsaccountForm.$invalid") Save Account Changes
		br
	form.profilesettings.form-horizontal(style="padding-bottom: 15px", name="settingspasswordForm", novalidate)
		h4 Password
		.form-group
				p {{incorrect}}
		.form-group
			label(for="settingsCurrentPassword").control-label.col-md-4 Current Password
			.col-md-8
				input.form-control(type="password", id="settingsCurrentPassword", name="settingsCurrentPassword", placeholder="enter a password", ng-model="pwd.settingsCurrentPassword", ng-minlength="5", required)
				span.error(ng-show="settingspasswordForm.settingsCurrentPassword.$error.required")  Current Password Required
		.form-group
			label(for="settingsNewPassword").control-label.col-md-4 New Password
			.col-md-8
				input.form-control(type="password", id="settingsNewPassword", name="settingsNewPassword", placeholder="enter a password", ng-model="pwd.settingsNewPassword", ng-minlength="5", required)
				span.error(ng-show="settingspasswordForm.settingsNewPassword.$error.required")  New Password Required
				span.error(ng-show="settingspasswordForm.settingsNewPassword.$error.minlength")  A Little Longer...
		.form-group
			label(for="settingsVerifyPassword").control-label.col-md-4 Verify Password
			.col-md-8
				//span.error(ng-show="settingspasswordForm.settingsVerifyPassword.$valid")  (Valid password!)
				input.form-control(type="password", id="settingsVerifyPassword", name="settingsVerifyPassword", ui-validate-equals="pwd.settingsNewPassword", placeholder="enter a password", ng-model="pwd.settingsVerifyPassword", ng-minlength="5", required)
				span.error(ng-show="settingspasswordForm.settingsVerifyPassword.$error.required")  Verify Password
				//span.error(ng-show="settingspasswordForm.settingsVerifyPassword.$error.minlength")  (A little longer...)
		.form-group
				span.pull-right.error(ng-show='settingspasswordForm.settingsVerifyPassword.$error.equal') Passwords Do Not Match
				span.pull-right.error(ng-show="settingspasswordForm.settingsVerifyPassword.$valid")  Passwords Match
		hr
		span.savebutton
			button.butn.submit(ng-click="onSubmitChangePassword()", ng-disabled="settingspasswordForm.$invalid") Save Password Changes
			

