.container.content.content-header
	.row
		.col-md-12
			.row
				.col-sm-5
					signupform
				
				.col-sm-offset-1.col-sm-6
					.display
						h3 Join Our Community
						p We want to ensure a safe and stable supply of blood for those who need. Be a part of our community of blood donors, blood requesters and good will organisations. 
						p We connect you with blood donors and people who need blood. 
						h3 Create A Blood Drive
						p You can create a blood drive request for someone in your community who needs blood urgently.
					.display
						h3 Donate To Blood Drives & Centres
						p Whether a first time blood donor, donating for someone or a regular volunteer donor, you can make a difference. 

