//.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.row
				.span3
					a.brand(href="/"): img(src="/images/red-donor-logo.png")
				.span9
				//- if (locals.user_name)
					rednav
				//- else
					onenav
				onenav
// Sub Header
header.subheader
	.container
		.row
			.span12
				.hero-section.hero-welcome
					h1 Give the gift of life and
					h1 
						span: a(href="/drives/list") save a life 
						| in your community
					.div
						a(type="button", href="/signup").butn.more.rd-red 
							strong Join Red Donor
						a(type="button", href="/how-it-works").butn.more.butn-blk 
							strong Learn More
		.row
			//.span8.offset2
				.box
					.sub-box
						h2 Create A Drive
						p [ Insert Summary ]
						a(type="button", href="/create").butn.right.more Go &raquo;
				.box
					.sub-box
						h2 Donate To Drive
						p Insert Summary
						a(type="button", href="/create").butn.right.more Go &raquo;
// Drives Display
.container.content
	.row
		.span10
			.row
				.breadcrumb-nav
					.span8
						h3 Most Recent Blood Drives
					.span4.pull-right
						h4: a(href="/drives/most-recent") See More
							span.symbol ›	
			.row
				.span10
					.empty-wrap(ng-show="emptydrive")
						script(type="text/javascript")
							(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
							fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						img(src="/images/data-empty.png")
						h4 {{textrecent}}
						br
						h5 Create a 
							span: a(href="/drive/create") new blood drive 
							| for someone in need or help us 
							span: a(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://reddonor.com/&p[images][0]=http://reddonor.com/images/works/confirm.png&p[title]=Red%20Donor%20%7C%20You%20can%20help%20save%20a%20life!&p[summary]=Red%20Donor%20is%20an%20organisation%20encouraging%20more%20people%20to%20donate%20blood%20help%20those%20who%20need%20in%20our%20community.%20Through%20education,%20innovation%20and%20creativity%20we%20want%20to%20ensure%20a%20safe%20and%20stable%20supply%20of%20blood%20for%20our%20community.%0A%0ALearn%20more%20and%20join%20our%20community!", target="_blank") find someone 
							| who needs help
			.row
				ul.drive-row
					li.drive-wrapper(ng-repeat="drivesrecent in drivesrecent")
						.drive
							h3
								a(href="/drive/{{drivesrecent.Drive_ID}}/{{drivesrecent.drive_title}}") {{drivesrecent.Drive_For}}
							hr
							.description
								p {{drivesrecent.Drive_Description}}
						.info
							hr
							.detail Days Left:
								strong  {{drivesrecent.Days_Left}}
							.detail Donations Pledged: 
								strong  {{drivesrecent.Pledge_Count}}
							hr
							.locationicon: a(href="/drives/country/{{drivesrecent.country_url}}") {{drivesrecent.Country}}
						.drive-bloodtype
							h4 {{drivesrecent.BloodType_Needed}}
						p.started started by {{drivesrecent.Created_By}}
						hr.below
							
			.row
				.breadcrumb-nav
					.span8
						h3 Soon Ending Blood Drives
					.span4.pull-right
						h4: a(href="/drives/soon-ending") See More
							span.symbol ›
			.row
				.span10
					.empty-wrap(ng-show="alsoempty")
						script(type="text/javascript")
							(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
							fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						img(src="/images/data-empty.png")
						h4 {{textend}}
						br
						h5 Create a 
							span: a(href="/drive/create") new blood drive 
							| for someone in need or help us 
							span: a(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://reddonor.com/&p[images][0]=http://reddonor.com/images/works/confirm.png&p[title]=Red%20Donor%20%7C%20You%20can%20help%20save%20a%20life!&p[summary]=Red%20Donor%20is%20an%20organisation%20encouraging%20more%20people%20to%20donate%20blood%20help%20those%20who%20need%20in%20our%20community.%20Through%20education,%20innovation%20and%20creativity%20we%20want%20to%20ensure%20a%20safe%20and%20stable%20supply%20of%20blood%20for%20our%20community.%0A%0ALearn%20more%20and%20join%20our%20community!", target="_blank") find someone 
							| who needs help
			.row
				ul.drive-row
					li.drive-wrapper(ng-repeat="drivesend in drivesend|limitTo:limit")
						.drive
							h3
								a(href="/drive/{{drivesend.Drive_ID}}/{{drivesend.drive_title}}") {{drivesend.Drive_For}}
								//span.label.label-important {{drivesend.example}}
							hr
							.description
								p {{drivesend.Drive_Description}}
						.info
							hr
							.detail Days Left:
								strong  {{drivesend.Days_Left}}
							.detail Donations Pledged: 
								strong  {{drivesend.Pledge_Count}}
							hr
							.locationicon: a(href="/drives/country/{{drivesend.country_url}}") {{drivesend.Country}}
						.drive-bloodtype
							h4 {{drivesend.BloodType_Needed}}
						p.started started by {{drivesend.Created_By}}
						hr.below
			
			
			
		.span2
			sidenav