ul.nav.pull-right
	li: a(href="/drives/list") Explore
	li: a(href="/drives/create") Create
	li: a(href="/login") Log In
	li: a(href="/signup") Sign Up
	form.navbar-search
		input.search-query(type="text", placeholder="Search")




