!!!
html(lang="en", data-ng-app="reddonor", itemscope itemtype="http://schema.org/Organization")
	head
		meta(chartset="utf-8")
		title(data-ng-bind="page.title", ng-cloak, class="ng-cloak") Red Donor
		meta(name="title", content="Red Donor: You Can Help Save A Life")
		meta(name="description", content="Red Donor makes it easier for those who need blood to connect with blood donors in their community.")
		meta(name="keywords", content="Blood Donations, Blood Donors, Caribbean Blood Donation, Caribbean Blood Donation Centres")
		meta(property="og:title", content="Red Donor: You Can Help Save A Life")
		meta(property="og:description", content="Red Donor makes it easier for those who need blood to connect with blood donors in their community.")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://my.reddonor.com")
		meta(property="og:site_name", content="Red Donor")
		meta(property="og:image", content="http://www.reddonor.com/assets/images/data-empty.png")
		a(href="https://plus.google.com/110993637022991434407", rel="publisher")
		// Included CSS Files
		link(href='/styles/styles.min.css', rel='stylesheet', media='screen')
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
		// Included Web Fonts
		link(rel="stylesheet", src="/vendor/jquery-ui-1.10.3.custom/css/reddonor-theme/jquery-ui-1.10.3.custom.min.css")
		//link(rel="stylesheet", href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
		//link(rel="stylesheet", src="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Varela+Round")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:500')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo:400,700')
		link(rel="shortcut icon", href="/assets/images/favicon.ico")
		// Load AJAX API
		script(type="text/javascript", src="https://www.google.com/jsapi").
		script(type="text/javascript").
			google.load('visualization', '1.0', {'packages':['corechart']});
			// Set a callback to run when the Google Visualization API is loaded.
			//google.setOnLoadCallback(drawChart);

		script(type="text/javascript").
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37326435-1']);
			_gaq.push(['_setDomainName', 'reddonor.com']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body(ng-controller="BaseCtrl", itemscope itemtype="http://schema.org/Organization")
		.wrap
			- if (locals.session)
				rednav
			else
				onenav
			div.notice.alert.alert-info BETA VERSION: You an also send blood requests to 
				span(style="border-bottom: 1px dotted #000; cursor: default") bloodrequests@reddonor.com
			
			#fb-root
			script(type="text/javascript").
				(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

		

			// Main Content
			.main(ng-view)

		div(ng-include="'/templates/footer.html'")

		// jQuery (necessary for Bootstrap's JavaScript plugins) 
		script(src="/vendor/jquery/dist/jquery.js").
		script(src='/vendor/angular/angular.js').
		script(src='/vendor/underscore/underscore-min.js').
		//script(src='//code.jquery.com/jquery.js').
		script(src="/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js").
		script(src='https://apis.google.com/js/plusone.js').
		//script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js").
		
		// AngularJs
		//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js').
		script(src='/assets/js/app.min.js')
