// Fixed Navigation Bar ================================================== 
.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/assets/images/red-donor-logo.png')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //li: a(href='/donate') Donate
        li: a(href='/aboutblood') About Blood
        li: a(href='/giveblood') Giving Blood
        li: a(href='/about') About Us
        li: a(href='http://my.reddonor.com').menubtn Login / Signup