
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>How It Works</h1>
        <h2>...</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row page-content">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="works">
            <h3 class="title">For Blood Requesters</h3>
            <div class="st-highlight"><img src="/assets/images/works/join2.png" alt="Join Red Donor"/>
              <h3>Join Red Donor</h3><br/>
              <div class="st-text">
                <p>Simple Sign Up </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/create.png" alt="Create a blood drive"/>
              <h3>Create a Blood Drive</h3><br/>
              <div class="st-text">
                <p>Make a request for blood</p>
                <p>Set a donation period </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/receive.png" alt="Receive pledges to donate"/>
              <h3>Receive Pledges to Donate</h3><br/>
              <div class="st-text">
                <p>Willing Blood Donors Pledge to Donate</p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/pledged.png" alt="Receive confirmation"/>
              <h3>Receive Confirmation</h3><br/>
              <div class="st-text">
                <p>Blood Donors confirm donation at local collection centre</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="works">
            <h3 class="title">For Blood Donors</h3>
            <div class="st-highlight"><img src="/assets/images/works/join2.png" alt="Join Red Donor"/>
              <h3>Join Red Donor</h3><br/>
              <div class="st-text">
                <p>Simple Sign Up </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/find.png" alt="Find Blood Drives"/>
              <h3>Find Blood Drives</h3><br/>
              <div class="st-text">
                <p>Locate local persons uregently in need of blood </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/pledge.png" alt="Pledge to donate"/>
              <h3>Pledge to Donate</h3><br/>
              <div class="st-text">
                <p>Make a pledge to donate blood at your local donation centre</p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/confirm.png" alt="Confirm Donation"/>
              <h3>Confirm Donation</h3><br/>
              <div class="st-text">
                <p>Notify the Blood Requester of Your Donation</p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/happy.png" alt="Feel Good"/>
              <h3>Feel Good for Saving A Life</h3><br/>
              <div class="st-text"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="works">
            <h3 class="title">For Organisations</h3>
            <div class="st-highlight">
              <h3>Coming Soon</h3><br/>
              <div class="st-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>