.content.content-header.container
	.row
		.col-md-12
			.row(ng-repeat="profiles in profiles")
				//.span2
					img(src="http://placehold.it/140x140").img-polaroid
				.col-md-9
					ul.profiles
						li 
							h2 {{profiles.user_name}}
						li 
							h3 Blood Type: {{profiles.bloodtype_name}}
						li
							h3 {{profiles.country_name}}
						li
							h4 Member since {{profiles.date_joined | date:'mediumDate' }}
			div
				h4 My Appointments
				hr	
				table.table.table-hover
					thead
						tr
							th Date
							th Session
							th Donation Centre
							th Donation Type
							th Status
							th
					tbody(data-provides="rowlink")
						tr(ng-repeat="appts in appts")
							td {{appts.appt_date | date:'mediumDate' }}
							td {{appts.times_name}}
							td {{appts.location_name}}
							td {{appts.donor_type_name}}
							td {{appts.status_name}}
							td: a(href="#") Edit
		