.content.content-header.container
	.row
		.col-md-12
			.row(ng-repeat="profiles in profiles")
				//.span2
					img(src="http://placehold.it/140x140").img-polaroid
				.col-md-9
					ul.profiles
						li 
							h2 {{profiles.user_name}}
						li 
							h3 Blood Type: {{profiles.bloodtype_name}}
						li
							h3 {{profiles.country_name}}
						li
							h4 Member since {{profiles.date_joined | date:'mediumDate' }}
			div
				h4 Donation History
				hr
				table.table.table-hover
					thead
						tr
							th Drive For
							th Date Pledged
							th Bloodtypde
							th Donations Pledged
							th Deadline Date
							th
					tbody(data-provides="rowlink")
						tr(ng-repeat="pledges in pledges")
							td: a(href="/drive/{{pledges.drive_id}}/{{pledges.drive_title}}") {{pledges.drive_name}}
							td {{pledges.date_pledged | date:'mediumDate' }}
							td {{pledges.bloodtype_name}}
							td {{pledges.pledge_count}}
							td {{pledges.drive_enddate | date:'mediumDate' }}
							td &raquo;
