script.
		var info;
		$(document).ready(function() {
			var options = {
				'maxCharacterSize': 120,
				'originalStyle': 'originalTextareaInfo',
				'warningStyle' : 'summarywarning',
				'warningNumber': 40,
				'displayFormat' : '#left Characters Left'
			};
			$('#drive_description').textareaCount(options);
		});
div(ng-show="notauth")
	.content.content-header.container
		.row
			.col-md-12
				.empty-wrap
					img(src="/assets/images/data-empty.png")
					h4 Not Authorised To Edit Drive
					h5 Return to 
						span: a(href="/profile/drives") My Drives

div(ng-show="editabledrive")
	.container.content.content-header
		.row
			.col-md-12
				.row
					.col-md-7
						div#editDriveForm	
							h3 Edit Blood Drive
							p.form-error {{error}}
								form.editDriveForm(name="editDriveForm", novalidate)
									.form-group
										label(for="drive_name") Blood Recipient Name
										input.form-control(type="text", placeholder="enter recipient name", name="drive_name", id="recipientName", ng-model="recipient.drive_name", required)
										span.pull-right.error(ng-show="editDriveForm.drive_name.$error.required") Name Required
									.form-group				
										label(for="drive_description") Drive Summary
										textarea.form-control(rows="4", id="drive_description", name="drive_description", ng-model="recipient.drive_description", placeholder="enter drive summary", required).span4
										//span.pull-right.error(ng-show="editDriveForm.drive_description.$error.required") Summary Required					
									.form-group		
										label(for="drive_bloodtype") Blood Type Needed
										select.form-control(name="drive_bloodtype", ng-model="recipient.drive_bloodtype", ng-options="b.bloodtype_id as b.bloodtype_name for b in bloodtype", required)
											option(value="") -- chose recipient bloodtype --
										span.pull-right.error(ng-show="editDriveForm.drive_bloodtype.$error.required") Blood Type Required
									//label(for="donations_needed") Pints Needed
									//select.form-control(required, id="donations_needed", name="donations_needed", ng-model="recipient.donations_needed", ng-options="b.id as b.nos for b in donations")
										option(value="") -- chose pints required --
									.form-group		
										label(for="drive_use") Reason for Drive
										select.form-control(name="drive_use", required, ng-model="recipient.drive_use", ng-options="b.uses_id as b.uses_name for b in uses")
											option(value="") -- chose use of blood --
											option(ng-repeat="uses in uses", value="{{uses.uses_id}}") {{uses.uses_name}}
										span.pull-right.error(ng-show="editDriveForm.drive_use.$error.required") Reason Required
									.form-group		
										label(for="drive_country") Country
										select.form-control(name="drive_country", required, ng-model="recipient.drive_country", ng-options="b.country_id as b.country_name for b in country")
											option(value="") -- chose recipient country --
											option(ng-repeat="country in country", value="{{country.country_id}}") {{country.country_name}}
										span.pull-right.error(ng-show="editDriveForm.drive_country.$error.required") Country Required
									.form-group		
										p: strong Current Deadline Date: 
											span.rred {{recipient.drive_enddate | date:'mediumDate' }}
										label(for="enddate") Change Deadline Date (leave blank to keep current date)
										input.form-control(type="text", ng-model="recipient.enddate", placeholder="leave blank to keep current date", data-mask="99/99/9999", name="enddate", id="enddate", datepicker)
									.form-group
										button(ng-click="onSubmitEditDrive()", ng-disabled="editDriveForm.$invalid").butn.submit Save Changes
					.col-md-5
						h3 Guidelines
						p Instructions, illustrations and tips about creating, end dates, collection process, locations, etc.



			

