.content.content-header.container
	.row
		.col-md-12
			.row(ng-repeat="profiles in profiles")
				//.span2
					img(src="http://placehold.it/140x140").img-polaroid
				.col-md-9
					ul.profiles
						li 
							h2 {{profiles.user_name}}
						li 
							h3 Blood Type: {{profiles.bloodtype_name}}
						li
							h3 {{profiles.country_name}}
						li
							h4 Member since {{profiles.date_joined | date:'mediumDate' }}
			div
				h4 My Drives
				hr			
				table.table.table-hover
					thead
						tr
							th Drive For
							th Bloodtype
							th Donations Pledged
							th Date Created
							th Deadline Date
							th
					tbody(data-provides="rowlink")
						tr(ng-repeat="drives in drives")
							td: a(href="/drive/{{drives.drive_id}}/{{drives.drive_title}}") {{drives.drive_name}}
							td {{drives.bloodtype_name}}
							td {{drives.pledge_count}}
							td {{drives.date_created | date:'mediumDate'}}
							td {{drives.drive_enddate | date:'mediumDate'}}
							td: a(href="/drive/settings/{{drives.drive_id}}") Edit
		