.content.content-header.container
	.row
		.col-md-12
			.row(ng-repeat="profiles in profiles|limitTo:4")
				//.span2
					img(src="http://placehold.it/140x140").img-polaroid
				.col-md-9
					ul.profiles
						li 
							h2 {{profiles.user_name}}
						li 
							h3 Blood Type: {{profiles.bloodtype_name}}
						li
							h3 {{profiles.country_name}}
						li
							h4 Member since {{profiles.date_joined | date:'mediumDate' }}
			hr
			div
				h4 Recent Donation Pledges
				hr
				table.table.table-hover
					thead
						tr
							th Drive For
							th Date Pledged
							th Blood Type
							th Donations Pledged
							th Deadline Date
					tbody
						tr(ng-repeat="pledges in pledges|limitTo:4")
							td: a(href="/drive/{{pledges.drive_id}}/{{pledges.drive_title}}") {{pledges.drive_name}}
							td {{pledges.date_pledged | date:'mediumDate' }}
							td {{pledges.bloodtype_name}}
							td {{pledges.pledge_count}}
							td {{pledges.drive_enddate | date:'mediumDate' }}
				h4.pull-right: a(href="/profile/history") See All Donation Pledges
					span.symbol ›	
				br
				br
				br
			hr		
			div
				h4 Recent Created Drives
				hr			
				table.table(id="example").table-hover
					thead
						tr
							th Drive For
							th Bloodtype
							th Donations Pledged
							th Date Created
							th Deadline Date
					tbody(data-provides="rowlink")
						tr(ng-repeat="drives in drives|limitTo:4")
							td: a(href="/drive/{{drives.drive_id}}/{{drives.drive_title}}") {{drives.drive_name}}
							td {{drives.bloodtype_name}}
							td {{drives.pledge_count}}
							td {{drives.date_created | date:'mediumDate'}}
							td {{drives.drive_enddate | date:'mediumDate'}}
				h4.pull-right: a(href="/profile/drives") See All Created Drives
					span.symbol ›	
