<div id="footer">
      <div class="container footer">
        <div class="row">
          <div class="col-sm-3 footer-info"><a href="/"><img src="/assets/images/red-donor-logo.png"></a>
            <p>Red Donor is focused on increasing the amount of blood available to communities for medical treatment and disaster relief.</p>
          </div>
          <div class="col-sm-2 col-xs-4">
            <h4>About Us</h4>
            <ul>
              <li>
                <a href="/about">Our Story</a>
              </li>
              <li>
                <a href="/howitworks">How It Works</a>
              </li>
              <!--li<a href="/partners">Partners</a>-->
              <!--li<a href="/advertise">Advertising</a>-->
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4">
            <h4>Get Invovled</h4>
            <ul><!--li<a href="/donate">Donate</a>-->
              <li><a href="/faqs">FAQs</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4">
            <h4>Connect</h4>
            <ul>
              <li><a href="http://blog.reddonor.com" target="_blank">News</a></li>
              <li><a href="https://www.facebook.com/RedDonor" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/reddonor" target="_blank">Twitter</a></li>
            </ul>
          </div>
          <div class="col-sm-3 hidden-xs">
            <div id="likebox-frame">
              <div data-href="https://www.facebook.com/RedDonor" data-width="292" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" class="fb-like-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <ul>
            <li><a href="/">© 2013 <span>Red Donor</span></a></li>
            <li><a href="/termsofuse">Terms of Use</a></li>
            <li><a href="/privacy">Privacy Policy  </a></li>
          </ul>
        </div>
      </div>
    </div>