<!-- Fixed Navigation Bar ================================================== -->
		<div role="navigation" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img src="/assets/images/red-donor-logo.png">
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-sm">
							<a href="/howitworks">
								<strong>How You Can</strong>
								<span>Save a life</span>
							</a>
						</li>
						<li>
							<a href="/drives/list">
								<strong>Pledge</strong>
								<span>a donation</span>
							</a>
						</li>
						<li class="dropdown hidden-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<strong>Give</strong>
								<span>blood in</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li ng-repeat="userlocations in userlocations">
									<a href="/centres/{{userlocations.location_id}}/{{userlocations.location_title}}">
										{{userlocations.location_name}}
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/centre/list" class="rred">&raquo; Explore All Countries</a>
								</li>
							</ul>
						</li>
						<li class="visible-xs">
							<a href="/centre/list">
								<strong>Give</strong>
								<span>blood</span>
							</a>
						</li>
						<li>
							<a href="/drive/create">
								<strong>Create</strong>
								<span>a blood drive</span>
							</a>
						</li>
						<li class="dropdown hidden-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<strong>=locals.user_name</strong>
								<span>welcome</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
					      <li><a href="/profile">Profile</a></li>
					      <li><a href="/profile/drives">My Drives</a></li>
					      <li><a href="/profile/history">My Pledges</a></li>
					      <li><a href="/profile/appointments">My Appointments</a></li>
					      <li><a href="/profile/settings">Settings</a></li>
					      <li><a href="#" ng-click="onlogOut()">Logout</a></li>
    					</ul>
						</li>
						<li><a class="menubtn visible-xs" href="#" ng-click="onlogOut()">Logout</a></li>
						<li><a class="mbtn hidden-xs" href="#" ng-click="onlogOut()">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>